<div class="hero {$modifiers}">
  <div class="hero-copy">
    <h1>Life is rich and varied. Your financial plan should be, too.</h1>
    <p class="callout-body-copy">We focus on six areas of your financial life to help you get more out of your money, so you can get more out of life.</p>
  </div>
  <div class="hero-image">
    <img alt="Man with many hats" src="images/hat-stacks.png" />
  </div>
  <a href="#content" class="hero-cta">let's get started</a>
</div>