// Any styles that are not related to a pattern can be placed in here.
.padding-top{
	padding-top: 20px;
}

.six-pillars{
	.six-pillars-title{
		margin-bottom: 40px;
	}
}

.featured-topics{

	h3{
		margin-bottom: 20px;
	}
	.featured-topics-into{
		.large-body-copy{
			margin-bottom: 50px;
		}
	}

	.featured-topics-topics{

		.callout-body-copy{
			margin-top: 30px;
			margin-bottom: 10px;
		}
	}
}

.contact-us{

	@include respond-to(medium){
		.medium-columns{
			display: inline-block;
			vertical-align: top;
			float: none;

			&:last-child:last-child{
				float: none;
			}

			.medium-figure{

				figcaption{
					
					width: 250px;
					display: inline-block;
				}
			}
		}
	}

	@include respond-to(large){
		.medium-columns{
			float: left;

			.medium-figure{

				figcaption{
					
					width: auto;
				}
			}
		}
	}

}


