// Typography
$brand-font: 'Whitney';
$font-stack: $brand-font, sans-serif;

// Colors
$brand-color: #0D263C;
$primary-color: #7EC4B9;
$secondary-color: #F1F7F7;
$grey-color: #DBDFE2;
$white-color: #FFF;
$beige-color: #FbF7EB;