// Any styles that are not related to a pattern can be placed in here.
.margin-none { margin: 0; }
.padding-none { padding: 0 !important; }
.collapse-left { padding-left: 0; }
.collapse-right { padding-right: 0; }

.padding-top-none { padding-top: 0; }
.padding-top-sm { padding-top: 8px; }
.padding-top { padding-top: 16px; }
.padding-top-lg { padding-top: 24px; }
.padding-top-xl { padding-top: 36px; }

.padding-bottom-none { padding-bottom: 0; }
.padding-bottom-sm { padding-bottom: 8px; }
.padding-bottom { padding-bottom: 16px; }
.padding-bottom-lg { padding-bottom: 24px; }
.padding-bottom-xl { padding-bottom: 36px; }

.margin-top-none { margin-top: 0 !important; }
.margin-top-sm { margin-top: 8px; }
.margin-top { margin-top: 16px; }
.margin-top-lg { margin-top: 24px; }
.margin-top-xl { margin-top: 36px; }

.margin-bottom-none { margin-bottom: 0 !important; }
.margin-bottom-sm { margin-bottom: 8px; }
.margin-bottom { margin-bottom: 16px; }
.margin-bottom-lg { margin-bottom: 24px; }
.margin-bottom-xl { margin-bottom: 36px; }