.card {
	background-color: $color-lightest;
	height: 100%;
	margin-bottom: 1.6rem;
	border: thin solid $color-grey-light-5;
	box-shadow: 0 0 0 -$base-spacing/2 $color-grey-light-5;
	display: block;
	border-radius: $border-radius;

	transition: box-shadow 0.3s ease-out;

	&:hover {
		box-shadow: 0 $base-spacing/2 $base-spacing -$base-spacing/2 $color-grey-light-30;
	}
}

.wide-card {
	@include respond-to(large){
		display: flex;
		flex-flow: row;

		img {
			flex: 1 1 auto;
		}
		.card-section {
			flex: 1 1 auto;
		}
	}
}