/*
Drop down menu

Drop down menu

Markup:
 <ul class="dropdown menu horizontal" data-dropdown-menu>
	<li>
		<a href="#">Login</a>
		<ul class="menu vertical">
			<li><a href="/en/opportunities/investment">Client Login</a></li>
			<li><a href="/en/opportunities/retirement">Solutions Banking &trade;</a></li>
		</ul>
	</li>
	<li><a href="#">Client Support</a></li>
	<li><a href="#">Francais</a></li>
</ul>

Styleguide 2.4
*/

.dropdown {

	.menu {
		z-index: 500;
		background-color: $lightest-color;
		color: $darkest-color;
		border: 1px solid #c9cbcb;
		box-shadow: 0px 5px 8px rgba(0,0,0,0.3);

		a {
			&:hover, &:focus {
				background: $grey;
			}
		}
	}
}