.hero {
  background: $color-brand-light-15;
  color: $color-grey-dark-60;
  padding-top: $base-spacing*16;
  padding-bottom: $base-spacing*16;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}