.hero {
  background: $color-brand-light-15;
  color: $color-grey-dark-80;
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing*2;
  position: relative;
  overflow: hidden;
  @include respond-to(medium){
    padding-top: $base-spacing*4;
    padding-bottom: $base-spacing*4;
  }
}

.hero-content {
  position: relative;

  .button {
    margin-top: $base-spacing;
  }
}
.hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  @include respond-to(medium){
    position: static;
  }

  img {
    transform: translate3d(75%, 0, 0);
    @include respond-to(small){
      transform: translate3d(60%, 0, 0);
    }
    @include respond-to(medium){
      transform: none;
    }
  }
}

.super-hero {
  .hero {
    min-height: 400px;
    @include respond-to(medium){
      min-height: 500px;
    }
  }
}