.jumbotron {
  background: $color-brand;
  color: $color-lightest;
  padding-top: $base-spacing*5;
  padding-bottom: $base-spacing*5;
  display: flex;
  align-items: center;
}

.jumbotron-content {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}