// Rate
//
// A rate is a type of component that exists within a callout. It contains roughly 8 different elements which are a mix of
// callout elements and elements specific to just rates (i.e., .rate-block). These 8 elements can be used to build a wide
// array of rate structures (there are currently 4 variations at this time)
//
// Markup (Variation One):
//<div class="callout bg-highlight text-center">
//    <div class="row rates">
//        <div class="medium-centered medium-10 small-12 columns">
//            <h3 class="section-title margin-bottom-lg">Special Offers</h3>
//            <h5 class="callout-body-copy margin-bottom-lg">Investors Group is please to offer the following limited-time
//                mortgage offers.<sup>1</sup></h5>
//        </div>
//
//        <div class="rate-grid small-10 medium-12 large-8 small-offset-1 large-offset-2 small-centered columns">
//            <div class="row" data-equalizer data-equalize-on="medium">
//                <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//                    <p class="rate-value">2.60%</p>
//                    <p class="rate-bullet">(Prime - 0.25%)</p>
//                    <p class="rate-bullet">5 year Closed<sup>2</sup><br/>Variable rate</p>
//                </div>
//
//                <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//                    <p class="rate-value">2.60%</p>
//                    <p class="rate-bullet">5 year Closed<br/>Fixed rate</p>
//                </div>
//
//                <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//                    <p class="rate-value">2.60%</p>
//                    <p class="rate-bullet">(Prime - 0.25%)</p>
//                    <p class="rate-bullet">5 year Closed<sup>3</sup><br/>Adjusted rate</p>
//                </div>
//            </div>
//        </div>
//
//        <button class="button margin-top-xl">View All Rates</button>
//
//    </div>
//</div>
//
// Markup (Variation Two):
//<div class="callout text-center">
//    <div class="row rates">
//        <div class="small-centered small-10 medium-8 columns">
//            <h3 class="section-title margin-bottom-lg">Current Offers</h3>
//            <h3 class="content-title margin-bottom-lg">Fixed Rates</h3>
//            <p class="rate-legal margin-bottom-lg">Provides a locked-in interest rate for the term you select. If rates increase,
//                your fixed rate stays the same, giving you the security of a fixed payment of the mortgage.<sup>4</sup>
//            </p>
//        </div>
//
//        <div class="rate-grid-10 small-8 large-12 small-centered columns">
//            <div class="row" data-equalizer data-equalize-on="large">
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">6.5%</p>
//                    <p class="rate-bullet">6 Month Open</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">4.2%</p>
//                    <p class="rate-bullet">6 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">6.3%</p>
//                    <p class="rate-bullet">12 Month Open</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">3.14%</p>
//                    <p class="rate-bullet">12 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns end" data-equalizer-watch>
//                    <p class="rate-value">3.09%</p>
//                    <p class="rate-bullet">24 Month Closed</p>
//                </div>
//            </div>
//
//            <div class="row" data-equalizer data-equalize-on="large">
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">3.39%</p>
//                    <p class="rate-bullet">36 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">3.89%</p>
//                    <p class="rate-bullet">48 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">4.64%</p>
//                    <p class="rate-bullet">60 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns" data-equalizer-watch>
//                    <p class="rate-value">6.5%</p>
//                    <p class="rate-bullet">84 Month Closed</p>
//                </div>
//
//                <div class="rate-block small-12 large-2 columns end" data-equalizer-watch>
//                    <p class="rate-value">6.75%</p>
//                    <p class="rate-bullet">120 Month Closed</p>
//                </div>
//            </div>
//        </div>
//
//        <button class="button margin-top-xl">View All Rates</button>
//
//    </div>
//</div>
// Styleguide 2.2
// .variation-one {
//   .callout {
//     @include respond-to(medium) {
//       padding-top: 50px;
//     }
//
//     .medium-10:first-child {
//       @media only screen and (max-width: 640px) {
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }
//
//     .callout-body-copy {
//       margin-bottom: 0;
//
//       @include respond-to(medium) {
//         margin-bottom: 40px;
//       }
//
//       @include respond-to(large) {
//         margin-bottom: 70px;
//       }
//     }
//
//     .button {
//       margin-top: 5px;
//
//       @include respond-to(medium) {
//         margin-top: 60px;
//       }
//
//       @include respond-to(large) {
//         margin-top: 70px;
//       }
//     }
//   }
// }
//
// .current-offers {
//   .callout {
//     @include respond-to(medium) {
//       padding-top: 50px;
//     }
//     @include respond-to(large) {
//       padding-top: 50px;
//     }
//
//     .content-title {
//       margin-bottom: 20px;
//
//       @include respond-to(medium) {
//         margin-bottom: 40px;
//       }
//
//       @include respond-to(large) {
//         margin-bottom: 70px;
//       }
//     }
//
//     .button {
//       margin-top: 30px;
//     }
//   }
// }
//
// .base-rates {
//   .callout {
//     padding-top: 70px;
//     padding-bottom: 15px;
//
//     @include respond-to(medium) {
//       padding-bottom: 130px;
//     }
//
//     .content-title {
//       margin-bottom: 0;
//
//       @include respond-to(medium) {
//         margin-bottom: 65px;
//         line-height: 30px;
//       }
//     }
//   }
// }
//
// .variation-six {
//   .callout {
//
//     @include respond-to(medium) {
//       padding-bottom: 80px;
//     }
//
//     @include respond-to(large) {
//       padding-bottom: 120px;
//     }
//
//     .medium-4 {
//
//       @include respond-to(medium) {
//         margin-left: 33.3%;
//       }
//
//       @include respond-to(large) {
//         margin-left: 0;
//       }
//     }
//
//     .rates {
//       .content-title {
//         margin-bottom: 25px;
//       }
//
//       .variable-rates, .fixed-rates {
//         @media only screen and (max-width: 640px) {
//           font-family: $font-stack-light;
//           font-size: 22px;
//         }
//       }
//
//       .variable-rates {
//         @include respond-to(medium) {
//           margin-top: 20px;
//         }
//         @include respond-to(large) {
//           margin-top: 70px;
//         }
//       }
//     }
//   }
// }
.separator-line {
    background-color: transparent;
    border-bottom: solid 1px $dark-grey;
}

.rates-type-a {
    .callout {
        .variable-rates {
            @include respond-to(medium) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            @include respond-to(large) {
                margin-top: 90px;
                margin-bottom: 40px;
            }
        }
    }
    .large-body-copy {
        font-family: $font-stack-light;
        @media only screen and (max-width: 640px) {
            font-size: 22px;
            margin-bottom: 34px;
        }
    }
}

.rates-type-b {
    .rate-section:first-child {
        .rate-block {
            padding-bottom: 30px;
        }
    }
}

.rates-type-c {
    .callout-body-copy {
        font-size: 16px;
        @include respond-to(large) {
            font-size: 18px;
        }
    }
    .medium-3 {
        @include respond-to(medium) {
            margin-left: 37.5%;
        }
        @include respond-to(large) {
            margin-left: 0;
        }
    }

    .row {
        .rate-block {
            float: none;

            @include respond-to(large) {
                float: right;
                margin-top: -50px;
            }
        }
    }
    .rates .rate-block {
        padding-bottom: 0;
        @include respond-to(medium) {
            padding-bottom: 0;
        }
    }
}

.rates {
    .margin-bottom-lg {
        @include respond-to(medium) {
            margin-bottom: 26px;
        }
    }
    .margin-top-xl {
        @include respond-to(large) {
            margin-top: 70px;
        }
    }
    .section-title {
        line-height: 12px;
        @include respond-to(medium) {
            line-height: 14px;
        }
        @include respond-to(large) {
            line-height: 14px;
        }
    }
    .rate-legal {
        font-size: 14px;
    }
    .rate-grid,
    .rate-grid-10 {
        margin: 0 auto;
        text-align: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;

          &:before,
          &:after {
            content: normal; // IE doesn't support `initial`
          }
        }
        .align-center {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
    // Some rate callouts are divided into 'sections' which require slighly different treatment than straight grids
    .rate-section {
        padding: 10px 40px;
        text-align: center;
        &:last-child {
            padding-top: 30px;
        }
        @include respond-to(medium) {
            padding: 10px 25px;
            text-align: left;
            &:last-child {
                padding-top: 10px;
            }
        }
        @include respond-to(large) {
            padding: 10px 35px 0;
            &:last-child {
                padding-top: 30px;
                border-left: 2px solid #ccc;
            }
        }
        .content-title {
            line-height: 30px;
        }
        .rate-sub-section {
            &:first-child {
                border-bottom: 2px solid #ccc;
                margin-bottom: 20px;
            }
            @include respond-to(medium) {
                border-bottom: none;
                &:first-child {
                    border-right: 2px solid #ccc;
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .rate-sub-section.adjustable-rate-section {
            @include respond-to(large) {
                padding-bottom: 20px;
            }
        }
        .rate-legal {
            height: auto;
            @include respond-to(medium) {
                font-size: 16px;
            }
            @include respond-to(large) {
                margin-bottom: 95px;
                font-size: 18px;
            }
        }
        .rate-legal.adjustable-rate-section {
            margin-bottom: 49px;
        }
        .rate-block-info {
            text-align: center;
            @include respond-to(large) {
                padding-top: 15px;
                text-align: left;
            }
        }
        .rate-description {
            text-align: center;
            font-size: 16px;
            padding-bottom: 0;
            line-height: 1.7;
            @include respond-to(medium) {
                text-align: left;
                margin-bottom: 20px;
                font-size: 14px;
            }
            @include respond-to(large) {
                margin-bottom: 20px;
            }
        }
        .rate-description.adjustable-rate-section {
            font-size: 16px;
            @include respond-to(small) {
                font-size: 12px;
            }
            @include respond-to(medium) {
                font-size: 16px;
            }
            &:last-child {
                @include respond-to(medium) {
                    padding-left: 15px;
                }
                @include respond-to(large) {
                    padding-left: 0;
                }
            }
            @include respond-to(large) {
                margin-bottom: 20px;
            }
        }
        // Sections are not text-center by default so we center rate-blocks here
        .rate-block {
            text-align: center;
        }
    }
    .rate-section.adjustable-rate-section {
        padding-bottom: 0;
    }
    .rate-section.split-view {
        @include respond-to(large) {
            padding-top: 30px;
        }
        .variable-rate-legal {
            @include respond-to(medium) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @include respond-to(large) {
                margin-top: 70px;
                margin-bottom: 96px;
            }
        }
    }
    .split-view.custom-medium-offset {
        @include respond-to(medium) {
            margin-left: 4.166666%;
            margin-right: 4.166666%;
        }
        @include respond-to(large) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    // This sub-heading requires a fixed-height
    .rate-sub-title {
        height: auto;
        margin-bottom: 20px;
        @include respond-to(large) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
    // Following are some special rules for blocks of 10
    .rate-grid-10 {
        @include respond-to(medium) {
            .medium-2 {
                width: 20%;
            }
            .rate-block {
                margin-bottom: 40px;
            }
            .offset-custom-10 {
                margin-left: 10% !important;
            }
            .offset-custom-20 {
                margin-left: 20% !important;
            }
        }
        @include respond-to(large) {
            .large-2 {
                width: 20%;
            }
            .rate-block {
                margin-bottom: 30px;
                font-size: 52px;
            }
        }
        // Need a 'custom' media query here otherwise CSS will be much more complex
        @media only screen and (max-width: 640px) {
            .row + .row {
                border-top: 2px solid #ccc;
            }
            .rate-block {
                border-right: none;
                border-bottom: 2px solid #ccc;
                padding: 15px 0 20px 0;
                padding-top: 52px;
                padding-bottom: 47px;
                .rate-value,
                .rate-bullet {
                    border-bottom: none;
                }
            }
        }
    }
    // Universal rate-block styles (the styles that are present in all variations of rate-grids)
    .rate-block {
        border-right: none;
        border-bottom: 2px solid #ccc;
        padding: 45px 15px 55px;
        max-width: 240px;
        &:last-child {
            border-right: none;
            border-bottom: none;
        }
        @include respond-to(medium) {
            border-right: 2px solid #ccc;
            border-bottom: none;
            padding: 10px 15px 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .rate-value-block {
            border-bottom: none;
            width: auto;
            @include respond-to(medium) {
                border-bottom: 1px solid #ccc;
            }
            .rate-value {
                letter-spacing: 1px;
                font-size: 36px;
                line-height: 30px;
                font-family: $font-whitney-light;
                color: #000;
                margin-bottom: 4px;
                width: auto;
                @include respond-to(medium) {
                    font-size: 40px;
                    letter-spacing: 0;
                    line-height: 34px;
                    margin-bottom: 10px;
                }
                @include respond-to(large) {
                    font-size: 52px;
                    letter-spacing: 1px;
                    line-height: 45px;
                }
            }
            .rate-value-secondary {
                color: #666;
                margin-top: -10px;
                font-family: $font-stack-light;
            }
        }
        .rate-bullet {
            color: #666;
            font-family: $font-stack-light;
            font-size: 16px;
            border-bottom: none;
            padding: 15px 0 0 0;
            padding-top: 3px;
            margin-bottom: 0;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
            @include respond-to(medium) {
                border-bottom: 1px solid #ccc;
                letter-spacing: 0;
                padding: 5px 10px;
            }
            @include respond-to(large) {
                font-size: 22px;
                letter-spacing: 1px;
            }
        }
    }
}