// Rate
//
// A rate is a type of component that exists within a callout. It contains roughly 8 different elements which are a mix of
// callout elements and elements specific to just rates (i.e., .rate-block). These 8 elements can be used to build a wide
// array of rate structures (there are currently 4 variations at this time)
//
// Markup (Variation One):
//<div class="callout bg-muted text-center">
//   <div class="row rate">
//      <div class="rate-grid small-10 medium-12 large-8 small-offset-1 large-offset-2 small-centered columns">
//         <h3 class="section-title margin-bottom-lg">Special Offers</h3>
//         <h5 class="callout-body-copy margin-bottom-lg">Investors Group is please to offer the following limited-time mortgage offers.<sup>1</sup></h5>
//      </div>
//
//      <div class="rate-grid medium-12 large-8 large-offset-2 medium-centered columns">
//         <div class="row" data-equalizer data-equalize-on="medium">
//           <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//              <p class="rate-value">2.60%</p>
//              <p class="rate-bullet">(Prime - 0.25%)</p>
//              <p class="rate-bullet">5 year Closed<sup>2</sup><br/>Variable rate</p>
//           </div>
//
//           <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//              <p class="rate-value">2.60%</p>
//              <p class="rate-bullet">5 year Closed<br/>Fixed rate</p>
//           </div>
//
//           <div class="rate-block small-12 medium-4 columns" data-equalizer-watch>
//              <p class="rate-value">2.60%</p>
//              <p class="rate-bullet">(Prime - 0.25%)</p>
//              <p class="rate-bullet">5 year Closed<sup>3</sup><br/>Adjusted rate</p>
//           </div>
//         </div>
//      </div>
//
//      <button class="button margin-top-xl">View All Rates</button>
//
//   </div>
//</div>
//
// Styleguide 2.2

.rate {

  .rate-grid {
    margin: 0 auto;
    text-align: center;
  }

  .rate-block {
    border-right: none;
    border-bottom: 2px solid #ccc;
    padding: 0;

    @include respond-to(medium) {
      border-right: 2px solid #ccc;
      border-bottom: none;
      padding: 10px 0 20px 0;
    }

    &:last-child {
      border-right: none;
      border-bottom: none;
    }

    .rate-value, .rate-description, .rate-bullet {
      padding: 5px 0;
      margin: 0 30px;

      @include respond-to(medium) {
        padding: 20px 0;
      }
    }

    .rate-value {
      letter-spacing: 1px;
      font-size: 52px;
      font-family: $font-whitney-light;
      color: #000;
      border-bottom: none;

      @include respond-to(medium) {
        border-bottom: 1px solid #ccc;
      }
    }

    .rate-bullet {
      color: #666;
      font-size: 22px;
      border-bottom: none;

      &:last-child {
        border-bottom: none;
        padding-bottom: 20px;
      }

      @include respond-to(medium) {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}