// Top Bar
//
// The new top bar is a simpler wrapper around our flexible menu components.
//
// Markup:
//  <div class="top-bar">
//   <div class="top-bar-left">
//     <ul class="dropdown menu" data-dropdown-menu>
//       <li class="menu-text">Site Title</li>
//       <li>
//         <a href="#">One</a>
//         <ul class="menu vertical">
//           <li><a href="#">One</a></li>
//           <li><a href="#">Two</a></li>
//           <li><a href="#">Three</a></li>
//         </ul>
//       </li>
//       <li><a href="#">Two</a></li>
//       <li><a href="#">Three</a></li>
//     </ul>
//   </div>
//   <div class="top-bar-right">
//     <ul class="menu">
//       <li><input type="search" placeholder="Search"></li>
//       <li><button type="button" class="button">Search</button></li>
//     </ul>
//   </div>
// </div>
//
// Styleguide 2.3

.top-bar {
	background: transparent;
	padding: 1rem 0;

	ul {
		background: transparent;
	}
	a {
		color: $darkest-color;
	}
}