/*
Accordions

This document captures a baseline of fonts colors and sizes being used on
Investorsgroup.com. A baseline unify all digital properties of Investors Group
giving one voice. Any additions to the font list will need to be approved by the
Digital Marketing Team.

Markup:
 <ul id="sample" class="accordion" data-accordion role="tablist">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title" >Accordion 1</a>
    <div class="accordion-content" data-tab-content>
      <p>Panel 1. Lorem ipsum dolor</p>
      <a href="#">Nowhere to Go</a>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title" >Accordion 2</a>
    <div class="accordion-content" data-tab-content>
      <textarea></textarea>
      <button class="button">I do nothing!</button>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title" >Accordion 3</a>
    <div class="accordion-content" data-tab-content>
      Pick a date!
      <input type="date">
    </div>
  </li>
</ul>

Styleguide 3.4
*/

  .accordion{
    background-color: transparent;

    p,ul{
      margin-bottom: 1rem;
    }

    ul{
      list-style: none;
      margin-left: 0;
    }
  }

  .accordion-title{
    background-color: transparent;
      border: none;
      color: $brand-color;
      font-size: 18px;
    font-size: 1.1125rem;
    padding: 0.5rem 1rem;
  }


  .accordion-item{
    border-bottom: 1px solid $accordion-lightgrey-line;
  }

  .accordion-title::before{
    content: url('http://investorsgroup.com/en/images/corp/svg/expandGreenArrow.png');
    -webkit-transform-origin: center middle;
      transform-origin: center middle;
      -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
      transform: rotate(0deg) translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease-out;
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }

  .accordion-item.is-active .accordion-title::before{
    -webkit-transform-origin: center middle;
      transform-origin: center middle;
      -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
      transform: rotate(180deg) translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease-out;
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }

  .accordion-image{
    margin-right: 1rem;
    width: 40px;

    @include respond-to(medium){
      width: 50px;
    }
  }

  .accordion-content{
    background: transparent;
    border: none;

    &:last-child{
      border:none;
    }

    a{
      border-bottom: 1px solid $brand-color;
    }
  }

/*03c*/
.accordion-menu-section-title{
  font-size: 18px;
  font-family: $font-stack-sc;
  text-transform: lowercase;
}

// Arrows
.is-accordion-submenu-parent {
  > a::after {
    width: $arrow-size;
    height: $arrow-size;
    border: none;
    border-bottom: solid 1px $darkest-color;
    border-right: solid 1px $darkest-color;
    transform-origin: center middle;
    transform: rotate(45deg);
    top: 45%;
    margin-top: -$arrow-size/2;
  }
}
.is-accordion-submenu-parent[aria-expanded='true'] {
	> a::after {
      border: none;
      border-right: solid 1px $darkest-color;
      border-top: solid 1px $darkest-color;
	    transform: rotate(-45deg);
      top: 45%;
      margin-top: $arrow-size/2;
    }
}