/*
Carousels

An image and content carousel with animation support and many customizable options.

Markup:
<div class="row ig-carousel carousel" data-dots="true" data-infinite="true" data-arrows="true" data-responsive='[{"breakpoint": 640, "settings": {"slidesToShow": 2, "slidesToScroll": 2}}]'>
  <div class="medium-4 columns">
	<img src="images/featured-topics-brazil.jpg" alt="Win a Trip to Brazil image" />
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-investments-fez.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-client-statement.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-brazil.jpg" alt="Win a Trip to Brazil image" />
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-investments-fez.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-client-statement.jpg" alt=""></img>
  </div>
</div>

Styleguide 3.5
*/
.slick-slider{
    padding: 0 10vw;
    @include respond-to(large) {
    	padding: 20px 12vw;
    }

    &:focus{
		color: transparent;
		border: none;
	}
}

// Arrows
.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
	transform: translate3d(0,-50%,0);
	color: transparent;
	opacity: .6;
	transition: opacity 0.3s ease-out;
	&:hover, &:focus {
		opacity: 1;
	}
}
.slick-prev{
	left: 10px;
	@include respond-to(large) {
    	left: 15px;
    }
	&:before{
		content: '';
		display: block;
		width: $arrow-size*2.5;
		height: $arrow-size*2.5;
		border: none;
		border-top: solid 3px $button-primary-color;
		border-right: solid 3px $button-primary-color;
		transform-origin: center;
		transform: rotate(225deg);
		cursor: pointer;
	}
}
.slick-next{
	right: 10px;
	@include respond-to(large) {
    	right: 15px;
    }
	&:after{
		content: '';
		display: block;
		width: $arrow-size*2.5;
		height: $arrow-size*2.5;
		border: none;
		border-top: solid 3px $button-primary-color;
		border-right: solid 3px $button-primary-color;
		transform-origin: center;
		transform: rotate(45deg);
		cursor: pointer;
	}
}
.slick-disabled {
	opacity: .1;
	&:hover, &:focus {
		opacity: .1;
	}
}

// Pagination
.slick-dots {
	margin: 0 auto;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 5px;

		button {
			color: transparent;
			background: none;
			border-radius: 50%;
			font-size: 8px;
			height: 13px;
			width: 13px;
			border: 2px solid $darker-grey;
			transition: opacity 0.3s ease-out;
			cursor: pointer;
			
			&:hover, &:focus {
				opacity: 1;
			}
		}
		&.slick-active button {
			background: $darker-grey;
			opacity: 1;
		}


	}
}

// Text version
.text-carousel {
	max-width: 60rem;
	text-align: center;
	.slick-dots{
		margin-top: 20px;
	}
}

// Alternate
.carousel-alt {
	.slick-prev{
		&:before{
			border-top: solid 3px $lightest-color;
			border-right: solid 3px $lightest-color;
		}
	}
	.slick-next{
		&:after{
			border-top: solid 3px $lightest-color;
			border-right: solid 3px $lightest-color;
		}
	}
	// Pagination
	.slick-dots {
		li {

			button {
				background: $button-primary-color;
			}
			&.slick-active button {
				background: $lightest-color;
			}
		}
	}
}


.svg-wrapper {
  transition: color 0.2s;

  .fill-circle {
    margin-left: 5px;
    position: relative;
    top: 8px;
    transition: fill 0.2s;
    fill: $lightest-color;
  }

  &:hover {
    color: #000;

    .fill-circle {
      fill: #000;
    }
  }
}

// .svg-wrapper {
//   .fill-circle {
//     margin-left: 5px;
//     position: relative;
//     top: 8px;
//     transition: fill 0.2s;
//     fill: $lightest-color;
//   }
//
//   &:hover {
//     .fill-circle {
//       fill: #000;
//     }
//   }

// }
