/*
Carousels

An image and content carousel with animation support and many customizable options.

Markup:
<div class="row carousel">
  <div class="medium-4 columns">
	<img src="images/featured-topics-brazil.jpg" alt="Win a Trip to Brazil image"></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-investments-fez.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-client-statement.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-brazil.jpg" alt="Win a Trip to Brazil image"></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-investments-fez.jpg" alt=""></img>
  </div>
  <div class="medium-4 columns">
	<img src="images/featured-topics-client-statement.jpg" alt=""></img>
  </div>
</div>

Styleguide 3.5
*/
.slick-slider{
    padding: 20px 10vw;
    @include respond-to(large) {
    	padding: 20px 12vw;
    }

    &:focus{
		color: transparent;
		border: none;
	}
}

// Arrows
.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
	transform: translate3d(0,-50%,0);
	color: transparent;
}
.slick-prev{
	left: 0;
	&:before{
		content: url(https://www.investorsgroup.com/external/app/tribal/images/Arrow-MainArticle-Carousel-Green-L.svg);
	}
}
.slick-next{
	right: 0;
	&:after{
		content: url(https://www.investorsgroup.com/external/app/tribal/images/Arrow-MainArticle-Carousel-Green-R.svg);
	}
}

// Pagination
.slick-dots {
	margin: 0 auto;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 10px;

		button {
			color: transparent;
			background: $dark-grey;
			border-radius: 50%;
			height: 16px;
			width: 16px;
			opacity: .6;

			transition: opacity 0.3s ease-out;
			&:hover, &:focus {
				opacity: 1;
				cursor: pointer;
			}
		}
		&.slick-active button {
			background: $button-primary-color;
			opacity: 1;
		}


	}
}