.ig-figure {
  clear: both;

  &.align-left {
    .ig-figure__title, .ig-figure__description, .ig-figure__link {
      text-align: left !important;
    }

    img {
      width: 50%;
      float: left;
      padding: 0 2% 0 0;
    }

    figcaption {
      width: 50%;
      float: right;
      padding: 0 0 0 2%;
    }
  }
}

