.ig-figure {
  clear: both;
  .ig-figure__title+.ig-figure__subtitle {
    margin-top: -8px !important;
  }
  span.ig-figure__title,
  span.ig-figure__subtitle {
    display: none;
  }
  @media screen and (max-width: 640px) {
    figcaption {
      text-align: center !important;
    }
  }
}
