/*Search Box*/


.find-an-advisor-search-form{

  .medium-figure{
    margin-bottom: 0;
  }

  .medium-figure{
      img{

        @include respond-to(medium){
          width: 140px;
          padding-bottom: 0;
        }

      }
  }
    

  .find-an-advisor-search-form-field{

    @include respond-to(medium){
      width: auto;
    }

    img{
      width: 13px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .find-an-advisor-search-form-field-location, .find-an-advisor-search-form-field-name{
      margin-top: 0;
      background-color: white;
      height: 40px;
      border-radius: 0.5rem;
      position: relative;
      // width: 100%;

      @include respond-to(medium){
        width: 320px;
        border-radius: 0;
      }

      @include respond-to(large){
        width: 400px;
      }

      label{
        font-family: "whitney_lightregular";
      }

      input[type="search"]{

        margin-bottom: 0;
        padding-left: 2rem;

        font-family: $font-stack;
        font-size: 16px;
        font-size: 1rem;
        color: $darkest-color;
        line-height: 1.5em;
        margin-bottom: 2px;
        border-radius: 0.5rem;
        border: none;

        @include respond-to(medium){
          border-radius: 0;
          margin: 0;
        }

        &:focus{
          border: none;
        }
      }

    }

  }


  .tt-menu, .typeahead {
      font-size: 1.6rem;
      text-transform: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #666666!important ;
     opacity: 1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
     color: #666666!important ;
     opacity: 1;
    }

  .tt-menu{
    background: white;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    margin-left: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    top: 3.7rem;
    box-shadow: 0 4px 10px rgba(1, 0, 0, 0.3);
    border-top: 1px solid #a9a9a9;
    padding-top:4rem;
    text-align: left;


    :last-child{
      border: none;
    }
  }

  .find-an-advisor-search-form-fields{
    @include respond-to(medium){
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  .twitter-typeahead{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0.5rem;

    input{
      &:first-child{
        display: none;
      }
    }
  }

  .typeahead{
    border-color: transparent;
  }

  .tt-suggestion{
      border-bottom: 1px solid #eff1f2;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      &:hover, &.tt-cursor{

        @include respond-to(medium){
          background-color: #eff1f2;
          margin-left: -3rem;
          padding-left: 3rem;
          width: 137.5%;
        }

        @include respond-to(large){
          width: 117.5%;
        }
      }
  }
}

//Go button

#SearchSubmitButton{
  margin-bottom: 0;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  @include respond-to(medium){
      min-width: auto;
      margin: 0;
      border-radius: 0 0.5rem 0.5rem 0;
  }
}


/*Search Dropdrown*/

.search-select{
  width: 15rem;
  background-position: right -1px center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #e5e8e8;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0;
  border: none;
  

  font-family: $font-stack;
  font-size: 16px;
  font-size: 1rem;
  color: $darkest-color;
  line-height: 1.5em;

  &:focus{
    border: none;
    background-color: #e5e8e8;;
  }

  @include respond-to(medium){
    width: 140px;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}