/*GLOBAL*/
.full-width{
    background-position: 0 0;
    background-repeat: repeat-x;
}

.is-hidden-mobile{
  display: none;

  @include respond-to(medium){
    display: block;
  }
}

.ex-small-figure{
  width: 50px;
  height: 50px;

  @include respond-to(medium){
    width: 80px;
    height: 80px;
  }
}

.dropdown .menu{
  border: 1px solid #cacaca;
}

/*Search results global*/
.search-results{

// this is the foundation dropdown styles
// need to create an additional class for the menu dropdown in dropdown.scss
// otherwise it overwrites the foundation styles which I dublicated here

  .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    transform: rotate(0);
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #282828 transparent transparent;
    right: 0;
    margin-top: -0.5px;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }

  .dropdown.menu .is-dropdown-submenu-parent.is-active  > a::after{
    transform: rotate(180deg);
  }

  .dropdown.menu .is-dropdown-submenu li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 12% 1rem;
    font-family: "WhitneySCMedium";
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1rem;

    @include respond-to(medium){
      padding: 1rem 16% 1rem;
    }
  }

  .is-dropdown-submenu-item{
      position: relative;
      margin-bottom: 0;

    &.emphasize{

      &:after{
        border-top: 0.1rem solid #c1cbd0;
        content: "";
        width: 100%;
        position: absolute;
        left: 0%;
      }

      &:hover{
        &:before{
          top: calc(23% + .3rem);
          height: 16px;
        }
      }
    }

    &:hover{
      &:before{
        content: "";
        left: calc(15% - 0.8rem);
        top: calc(27% + .3rem);
        height: 26px;
        position: absolute;
        border-left: 2px solid #0ed59a;
      }
    }

    strong{
      margin-bottom: 0.2rem;
      font-weight: 400;
      display: block;
      width: 100%;
      height: 100%;
      font-family: "WhitneySCMedium";
      text-transform: lowercase;
      letter-spacing: 1px;
      font-size: 1rem;
    }

    span{
      font-size: 1.8rem;
      font-family: "WhitneyBook";
      font-size: 18px;
      color: #0d263c;
      display: block;
    }

    strong, span{
      text-align: left;
    }
  }


  .expanded-accordion-arrow{
    &:before{
      transform: rotate(225deg) translate3d(0, 0, 0);
    }
  }

  .dropdown{
    text-align: center;

    &:hover{
      background-color: inherit;
      color: inherit;

    }
  }

@include respond-to(medium){
  .dropdown.menu{
    position: relative;

     &:before{
      content: "";
      display: block;
      border-left: 0.1rem solid #45757a;
      height: 55%;
      position: absolute;
      right: 2.8rem;
      top: 20%;
      transition: transform .3s ease 0s, border-color .3s ease 0s;
    }
  }
}

  .dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    display: none;

     @include respond-to(medium){
      display: block;
     }
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    padding-top:0;
    padding-bottom: 0;
  }

  .phone-icon, .email-icon{
    position: relative;
    padding: 0;
    margin-bottom: 0;

    &:before{
      position: absolute;
      width: 10px;

      @include respond-to(medium){
        display: none;
      }
    }
  }

  .phone-icon{
    &:before{
      content: url(../images/find-an-advisor-phone.svg);
      width: 13px;

      @include respond-to(medium){
        display: none;
      }
      
    }
  }

  .email-icon{
    &:before{
      content: url(../images/find-an-advisor-email.svg);
      width: 16px;

      @include respond-to(medium){
        display: none;
      }
    }
  }

  .divider{
    &:before{
      content: '';
      border-top: 0.15rem solid #dee1e4;
      width: calc(100% - 20px);
      margin: 0 auto;

        @include respond-to(medium){
          width: calc(100% - 30px);
        }
      }

  }

  .overline{
    border-top: 0.10rem solid #dee1e4;
  }


  .underline{
    border-bottom: 0.10rem solid #dee1e4;
  }

  .overline, .underline{
      @include respond-to(medium){
        padding-top: 1rem;
        width: calc(35% - 20px)
      }

      @include respond-to(large){
        width: calc(40% - 50px);
      }
  }

}

/*Search Box*/


.find-an-advisor-search-form{

  .medium-figure{
    margin-bottom: 0;
  }

  .medium-figure{
      img{

        @include respond-to(medium){
          width: 140px;
          padding-bottom: 0;
        }

      }
  }

  .tt-menu, .typeahead {
      font-size: 1.6rem;
      text-transform: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #666666!important ;
     opacity: 1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
     color: #666666!important ;
     opacity: 1;
    }

  .tt-menu{
    background: white;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    margin-left: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    top: 3.7rem;
    box-shadow: 0 4px 10px rgba(1, 0, 0, 0.3);
    border-top: 1px solid #a9a9a9;
    padding-top:4rem;
    text-align: left;


    :last-child{
      border: none;
    }
  }

  .twitter-typeahead{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0.5rem;

    input{
      &:first-child{
        display: none;
      }
    }
  }

  .typeahead{
    border-color: transparent;
  }

  .tt-suggestion{
      border-bottom: 1px solid #eff1f2;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      &:hover, &.tt-cursor{

        @include respond-to(medium){
          background-color: #eff1f2;
          margin-left: -3rem;
          padding-left: 3rem;
          width: 137.5%;
        }

        @include respond-to(large){
          width: 117.5%;
        }
      }
  }
}

.find-an-advisor-search-form-field{

    @include respond-to(medium){
      width: auto;
    }

    img{
      width: 13px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
}

.find-an-advisor-search-form-field-location, .find-an-advisor-search-form-field-name{
  margin-top: 0;
  background-color: white;
  height: 40px;
  border-radius: 0.5rem;
  position: relative;
  // width: 100%;

  @include respond-to(medium){
    width: 320px;
    border-radius: 0;
  }

  @include respond-to(large){
    width: 400px;
  }

  label{
    font-family: "whitney_lightregular";
  }

  input[type="search"]{

    margin-bottom: 0;
    padding-left: 2rem;

    font-family: $font-stack;
    font-size: 16px;
    font-size: 1rem;
    color: $darkest-color;
    line-height: 1.5em;
    margin-bottom: 2px;
    border-radius: 0.5rem;
    border: none;

    @include respond-to(medium){
      border-radius: 0;
      margin: 0;
    }

    &:focus{
      border: none;
    }
  }
}

.find-an-advisor-search-form-fields{
  @include respond-to(medium){
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
  }
}

#SearchSubmitButton{
  margin-bottom: 0;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  @include respond-to(medium){
      min-width: auto;
      margin: 0;
      border-radius: 0 0.5rem 0.5rem 0;
  }
}

.search-select{
  width: 15rem;
  background-position: right -1px center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #e5e8e8;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0;
  border: none;


  font-family: $font-stack;
  font-size: 16px;
  font-size: 1rem;
  color: $darkest-color;
  line-height: 1.5em;

  &:focus{
    border: none;
    background-color: #e5e8e8;;
  }

  @include respond-to(medium){
    width: 140px;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.view-more-results-button{
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include respond-to(medium){
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.search-results-filters{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;

  p{
    &:not(:last-child){
      padding-right: 3rem;
    }
  }
}

.search-results-buttons{
  display: inline-block;
  align-self: center;
  margin-top: 20px;

  @include respond-to(medium){
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .button{
   padding: 5px 1.25em 7px;
  }

  .phone-icon{
    &:before{
      top: 2px;
    }
  }

  .email-icon{
    &:before{
      left: 0;
      top: 1px;
    }
  }
}

.search-results-button{

  &:last-child{
    .button{
      margin-bottom: 0;
    }
  }

  @include respond-to(medium){
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 5px;
  }

  @include respond-to(large){
      margin-bottom: 0;
  }

  span{
    display: flex;
    justify-content: center;

    @include respond-to(medium){
      display: inline-block;
    }
  }


}

.search-results-office, .search-results-consultant{
   padding-top: 1rem;
  padding-bottom: 1rem;

  @include respond-to(medium){
    display:flex;
    justify-content: space-between;
  }
  
  .dropdown.menu{

    .is-dropdown-submenu-parent.opens-right{
      width: 100%;
      display: inline-block;

      @include respond-to(medium){
        display: table-cell;
      }
    }

    .is-dropdown-submenu{
      width: 100%;
      min-width: auto;
    }
  }

  a.dropdown, .button{
    min-width: auto;
    width: 100%;

    @include respond-to(medium){
      min-width: 200px;
      width: auto;
    }
  }
}

.search-results-consultant, .search-results-office{
  .search-results-button{
    .button{
      .phone-icon, .email-icon{
        width: 30px;
      }
    }
  }
}


.search-results-info{
   display:flex;
   align-items: center;
}

.search-results-info-map{
  width: 110px;

  @include respond-to(medium){
    width: 125px;
  }
  @include respond-to(large){
    width: 145px;
  }

}

.search-results-map-container{
  position: relative;
  overflow: hidden;

    &::after{
      content: "";
      width: 30px;
      height: 65px;
      background-image: url(../images/map-marker-blue.png);
      background-position-y: 0;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);

      @include respond-to(medium){
        height: 85px;
      }
    }
}

/*Offices Results*/

.search-results-offices-wrapper{
  margin-bottom: 1.5rem;
}

.search-results-offices{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    cursor: pointer;

    &.accordion-arrow{
      &:before{
        width: 20px;
        height: 20px;
        right: 20px;

        @include respond-to(medium){
           top: 2rem;
        }
      }
    }

    .columns{
      width: auto;
    }
}

.search-results-number{
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;

    @include respond-to(medium){
      text-align: left;
    }
}

#search-results-offices-expand{
    .divider{
      &:first-child{
        &:before{
          border: none;
        }
      }
    }
}

.search-results-map-tooltip{
  position: absolute;
  padding-bottom: 1.7rem;
  padding-top: .5rem;
  background-color: #0ed59a;
  text-align: center;
  width: 100%;
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 10;
}

.search-results-map-container{
  &:hover{
    .search-results-map-tooltip{
      top: 50%;
    }
  }
}


/*Counsultant Results*/

.search-results-consultant-wrapper{
  .divider{
    &:first-child{
      &::before{
        display: none;

        @include respond-to(medium){
          display: block;
        }
      }
    }
  }
}

.search-results-consultant-portrait{
  width: 80px;
  @include respond-to(medium){
    width: 125px;
  }

  @include respond-to(large){
    width: 150px;
  }
}

.search-results-consultant-info, .search-results-office-info{
  @include respond-to(medium){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.search-results-consultant-info-name{
  @include respond-to(medium){
    padding-bottom: 1rem;
  }
}

.search-results-consultant-team-members{
  padding-top: 0.5rem;

    @include respond-to(medium){
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      padding-top: 1rem;
      padding-bottom: 1rem;
   }

    .dropdown{

      display: inline-block;

      @include respond-to(medium){
        margin: 0 auto;
      }

    }

    .email{
        border: none;

        i{
          border: 2px solid #0d263c;
        }
    }

    .search-results-consultant-team-member{
      margin:0;
      margin-bottom: 1rem;

      @include respond-to(medium){
        margin-bottom: 0.5rem;
      }
    }
}
.search-results-consultant-team-member{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;

  @include respond-to(medium){
    flex-direction: column;

  }

  &:only-child{
    flex-direction: row;
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a{
    padding: 0;

    @include respond-to(medium){
      padding: 5px 1.25em 7px;
    }
  }

  .button{
    min-width: auto;
  }

  .phone-icon, .email-icon{
    border-radius: 50%;
    border: 1px solid $brand-color;
    height: 30px;

    @include respond-to(medium){
      border-radius: 5px;
      border: 1px solid $dark-grey;
      min-width: 200px;
      height: auto;
      width: auto;
    }
  }

  .phone-icon{
    &:before{
      left: 7.5px;
      top: 6px;
    }
  }

  .email-icon{
    &:before{
      top: 6.5px;
      left: 5.3px;
    }
  }

  &.underline{

    &:last-child{
      border: none;
      margin-bottom: 0.5rem;
    }

    @include respond-to(medium){
      border: none;
      width: auto;
    }
  }
}

.search-results-consultant-team-member-name{
  text-align: left;

  @include respond-to(medium){
    text-align: center;
  }
}

.search-results-consultant-team-member-contact{
  display: flex;
  justify-content: flex-end;
  text-align: right;

  .dropdown{
    margin-right: 10px;

    @include respond-to(medium){
      margin-right: 0;
    }

    &.menu{
      &:before{
        @include respond-to(medium){
           border-left: 0.1rem solid $dark-grey;
        }
      }
    }
  }

  .phone-icon, .email-icon{
    width: 30px;
  }
}

.search-results-consultant-team-section-divider{
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(medium){
    align-items: flex-end;
    padding-top: 1rem;
  }
}

.search-results-consultant-team-members-view-all{
  width: auto;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-bottom: 0.5rem;
  cursor: pointer;

  .accordion-arrow{
    &:before{
      top: 0.2rem;
      width: 10px;
      height: 10px;
      right:0;
      border-bottom: solid 1.5px;
      border-right: solid 1.5px;
    }
  }

  .expanded-accordion-arrow{
    &:before{
      top: 8px;
    }
  }
}


