/*Search Box*/


.find-an-advisor-search-form{

  .medium-figure{
    margin-bottom: 0;
  }

  .medium-figure{
      img{

        @include respond-to(medium){
          width: 140px;
          padding-bottom: 0;
        }

      }
  }
    

  .find-an-advisor-search-form-field{

    @include respond-to(medium){
      width: auto;
    }

    img{
      width: 13px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .find-an-advisor-search-form-field-location, .find-an-advisor-search-form-field-name{
      margin-top: 0;
      background-color: white;
      height: 40px;
      border-radius: 0.5rem;
      position: relative;
      // width: 100%;

      @include respond-to(medium){
        width: 320px;
        border-radius: 0;
      }

      @include respond-to(large){
        width: 400px;
      }

      label{
        font-family: "whitney_lightregular";
      }

      input[type="search"]{

        margin-bottom: 0;
        padding-left: 2rem;

        font-family: $font-stack;
        font-size: 16px;
        font-size: 1rem;
        color: $darkest-color;
        line-height: 1.5em;
        margin-bottom: 2px;
        border-radius: 0.5rem;
        border: none;

        @include respond-to(medium){
          border-radius: 0;
          margin: 0;
        }

        &:focus{
          border: none;
        }
      }

    }

  }


  .tt-menu, .typeahead {
      font-size: 1.6rem;
      text-transform: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #666666!important ;
     opacity: 1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
     color: #666666!important ;
     opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
     color: #666666!important ;
     opacity: 1;
    }

  .tt-menu{
    background: white;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    margin-left: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    top: 3.7rem;
    box-shadow: 0 4px 10px rgba(1, 0, 0, 0.3);
    border-top: 1px solid #a9a9a9;
    padding-top:4rem;
    text-align: left;


    :last-child{
      border: none;
    }
  }

  .find-an-advisor-search-form-fields{
    @include respond-to(medium){
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  .twitter-typeahead{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0.5rem;

    input{
      &:first-child{
        display: none;
      }
    }
  }

  .typeahead{
    border-color: transparent;
  }

  .tt-suggestion{
      border-bottom: 1px solid #eff1f2;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      &:hover, &.tt-cursor{

        @include respond-to(medium){
          background-color: #eff1f2;
          margin-left: -3rem;
          padding-left: 3rem;
          width: 137.5%;
        }

        @include respond-to(large){
          width: 117.5%;
        }
      }
  }
}

//Go button

#SearchSubmitButton{
  margin-bottom: 0;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  @include respond-to(medium){
      min-width: auto;
      margin: 0;
      border-radius: 0 0.5rem 0.5rem 0;
  }
}


/*Search Dropdrown*/

.search-select{
  width: 15rem;
  background-position: right -1px center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #e5e8e8;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0;
  border: none;
  

  font-family: $font-stack;
  font-size: 16px;
  font-size: 1rem;
  color: $darkest-color;
  line-height: 1.5em;

  &:focus{
    border: none;
    background-color: #e5e8e8;;
  }

  @include respond-to(medium){
    width: 140px;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

/*Counsultant Results*/

.section.search-results{

  &#results-placeholder{
    .row{
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  &#results-container{
    >.row{
       margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  .portrait{
    width: 80px;
    @include respond-to(medium){
      width: 250px;
    }
  }

  .buttons-column{
    display: flex;
    width: auto;
    float: none;
    align-self: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .consultant-text{
    width: 45%;
  }

  .underline{

    padding-top: 1rem;


    &:before{
        border-top: 0.2rem solid #c1cbd0;
        content: "";
        width: 100%;
        padding-top: 2.5rem;
    }

  }

  .row.underline{

   &:last-child{
      text-align: inherit!important;
      margin-top: 0!important;
    }

  .portrait-column{
      display: flex;
      justify-content: space-between;
    @include respond-to(medium){

      // width: 100%;

      .consultant_name{
        display: inline-block;
      }
    }

    @media screen and (min-width:844px) and (max-width:1000px){
        width: 50%;
      }

      p{
        margin-bottom: 0;
      }

  }

  }

  .my-team{
    .columns:not(:first-child){
        p{
          width: 70%;
          float: left;

          @include respond-to(medium){
            width: auto;
            float:none;
          }
        }
      }

    .columns{
      p{
          width: 70%;
          float: left;
          text-align: left;
      }
    }
      
    .title{
      .row{
        margin-top: 4rem!important;
        margin-bottom:0!important;

        p{
          margin-top: -1rem;
          margin-bottom: 1rem;
          width: 100%!important;
          text-align: center;
        }
      }

      .line{
        border-top: 0.2rem solid #c1cbd0;
        content: "";
      }
    }
  }

  .my-consultant-team{

    .show-for-small-only{
      &.email{
          top: -1.2rem!important;
          padding-right:0!important;
      }
    }
    .columns{
      float: none;
      display: inline-block;
      text-align: center;

      @include respond-to (medium){
        width: auto;
        padding-bottom: 5rem;

        &:not(:only-child){
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }

        &:before{
          border-top: 0.2rem solid #c1cbd0;
          content: "";
          width: 100%;
          padding-top: 2.5rem;
        }
    }

    .row{
      &:last-child{
        margin-top: 0!important;
        margin-bottom: 0!important;
      }
    }

    .dropdown{

      display: inline-block;

      @include respond-to(medium){
        margin: 0 auto;
      }

    }

    .email{
        border: none!important;

        i{
          border: 2px solid #0d263c!important;
        }
    }

    .dropdown{

      .is-dropdown-submenu{
        width: 14rem;
        @include respond-to(medium){
          margin: 0 auto;
           width: 100%;
        }
      }
    }
  }
}


.view-more{
  div{
    width: auto;
  }
    width: 100%;
    margin-top: 1rem;
}