/*
Footer

The footer of the site

Markup:
 <footer class="site-footer" role="contentinfo">
  <div class="row">
    <div class="columns">
      <a class="float-right" href="#">Back to top</a>
    </div>
  </div> 
  <hr />
  <div class="row">
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium">
        <li>
          <a href="#">Company</a>
          <ul class="menu vertical">
            <li><a href="#">Who we are</a></li>
            <li><a href="#">Media room</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium">
        <li>
          <a href="#">Financial advice</a>
          <ul class="menu vertical">
            <li><a href="#">Products</a></li>
            <li><a href="#">How Can We Help</a></li>
            <li><a href="#">Value Of The Plan</a></li>
            <li><a href="#">More - Advice & Stories</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium">
        <li>
          <a href="#">Resources</a>
          <ul class="menu vertical">
            <li><a href="#">Client Account Access</a></li>
            <li><a href="#">Solutions Banking Access</a></li>
            <li><a href="#">Mutual Funds</a></li>
            <li><a href="#">Mortgage Rates</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-4 columns small-centered">
      <ul class="row menu horizontal">
        <li>
          <a href="https://www.facebook.com/InvestorsGroup"><img src="images/fb-icon.png"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/investors-group"><img src="images/li-icon.png"></a>
        </li>
        <li>
          <a href="https://twitter.com/Investors_Group" ><img src="images/tw-icon.png"></a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/InvestorsGroupCanada"><img src="images/yt-icon.png"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <p>© 2016 Investors Group Inc. All rights Reserved</p>
    </div>
    <div class="medium-9 columns">
      <ul class="menu horizontal">
        <li><a href="/en/legal">Legal</a></li>
        <li><a href="/en/legal/use">Terms Of Use</a></li>
        <li><a href="/en/legal/privacy-and-personal-information">Privacy Policy</a></li>
        <li><a href="/en/contact-us/accessibility">Accessibility</a></li>
        <li><a href="/fr/default.aspx" target="_parent">Afficher En Francais</a></li>
      </ul>
    </div>
  </div>  
</footer>

Styleguide 3.2
*/

.site-footer {
	background: $brand-color;
	color: $lightest-color;
  padding-top: 40px;

  @include respond-to(large){
    padding-top: 90px;
  }

	a, p {
		color: $lightest-color;
	}

  .columns{
    padding-left: 22px;
    padding-right: 22px;
  }


  .footer-back-to-top-button{
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 40px;

    .columns{
      border-bottom: 1px solid #ffffff;
      padding-bottom: 8px;

      a{

        font-family: $font-whitney-sc;

        &::before{
          content: '';
          display: block;
          margin: 0 auto;
          width: $arrow-size*1.5;
          height: $arrow-size*1.5;
          border: none;
          border-bottom: solid 1px;
          border-right: solid 1px;
          transform-origin: center middle;
          transform: rotate(225deg) translate3d(0,0,0);
          transition: transform 0.3s ease-out;
          margin-bottom: -3px;
        }

        &:hover, &:focus{
          &::before{
            transform: rotate(225deg) translate3d(3px,3px,0);
          }
        }
      }
      hr{
        border-color: #ffffff;
        padding-bottom: 8px;
      }
    }
  }

  .footer-navigation{

    .columns{
      @include respond-to(large){
        text-align: center;
      }
    }

    .accordion{

      background: none;
      border: none;
      margin: 0;
      
      @include respond-to(large){
        width: auto;
        display: inline-block;
        float: none;
        text-align: left;

      }
      .accordion-item{

        .accordion-title{
          padding: 20px 0px;
          border: none;
          border-bottom: 1px solid #314659;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 900;

          @include respond-to(large){
            pointer-events: none;
            border: none;
            font-size: 16px;
          }

          &:hover, &:focus{
            background: none;
          }

          &::before{
            content: '';
            display: block;
            margin: 0 auto;
            width: $arrow-size;
            height: $arrow-size;
            border: none;
            border-bottom: solid 1px;
            border-right: solid 1px;
            transform-origin: center middle;
            transform: rotate(45deg) translate3d(0,0,0);
            transition: transform 0.3s ease-out;
            right: 5px;
            color: #acb7c0;

            @include respond-to(large){
              display: none;
             }
          }
        }

        &.is-active{
          .accordion-title{
            &::before{
              transform: rotate(225deg) translate3d(0,0,0);
            }
          }
        }

        .accordion-content{
          background: none;
          border: none;
          padding-left: 0;
          padding-right: 0;


           @include respond-to(large){
            display: block!important;
           }

           li{
              a{

                padding: 0.9rem 0;
                padding-left: 1.8rem;
                position: relative;

                &:before{
                  content: "\00a0";
                  width: 18px;
                  display: inline-block;
                  border-left: 2px solid #0d263c;
                  left: 1rem;
                  position: absolute;
                }

                &:hover{
                  background: #314659;

                  &:before{
                    border-left: 2px solid #fff;
                  }
                }

                @include respond-to(large){
                  padding-left:0;

                  &:before{
                    display: none;
                  }

                  &:hover{
                    background: none;
                    text-decoration: underline;
                    color: #fff;

                    &:before{
                      border: none;
                    }
                  }
                }
              }
           }
        }
      }
    }
  }

  .footer-social-media{
    padding-top: 36px;
    padding-bottom: 14px;
    max-width: 300px;

    @include respond-to(large){
      padding-bottom: 36px;
    }
  }

  .footer-copyright{

    margin-left: 22px;
    margin-right: 22px;

    @include respond-to(large){
       border-top: 1px solid #262c50;
       text-align: center;
       margin: 0 auto;
    }

    .columns{
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #263c50;
      line-height: normal;
      text-align: center;

      @include respond-to(large){
        width: auto;
        border-top: 0;
        padding-left:0;
        padding-right:0;
        vertical-align: top;
        display: inline-block;
        float: none;
      }

        ul{
          display: inline-block;
          
          li{

            color: #acb7c0;
            line-height: 1.6;
            padding: 3px 18px;
            font-size: 12px;

            &:not(:last-child){
              border-right: 1px solid #262c50;

            }

            @include respond-to(large){
              padding-top:0;
              padding-bottom:0;

              border-right: 1px solid #262c50;
            }

            a{
              padding:0;
              color: #acb7c0;

              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
    }
  }
}

