/*
Footer

This module is a functional space that sits at the bottom of all pages which groups complementary sections of a site.

Markup:
<footer class="site-footer" role="contentinfo">
  <div class="row footer-back-to-top-button">
    <div class="columns">
      <a class="float-right" href="#top">top</a>
    </div>
  </div> 
    <div class="row footer-navigation">
      <ul class="menu vertical accordion" data-responsive-menu="accordion medium" data-accordion="" data-allow-all-closed="true">
          <li class="large-4 columns accordion-item" data-accordion-item="">
            <a class="accordion-title hide-for-large" href="#">Company</a>
            <ul class="menu vertical accordion-content accordion-submenu" data-tab-content="">
              <li class="accordion-title hide-for-small">Company</li>
              <li><a class="submenu-link" href="/en/who-we-are">Who We Are</a></li>
              <li><a class="submenu-link" href="/en/media-room">Media Room</a></li>
              <li><a class="submenu-link" href="/en/careers">Careers</a></li>
              <li><a class="submenu-link" href="/en/contact-us">Contact Us</a></li>
            </ul>
          </li>
          <li class="large-4 columns accordion-item" data-accordion-item="">
            <a class="accordion-title hide-for-large" href="#">Financial advice</a>
            <ul class="menu vertical accordion-content accordion-submenu" data-tab-content="">
              <li class="accordion-title hide-for-small">Financial advice</li>
              <li><a class="submenu-link" href="/en/products">Products</a></li>
              <li><a class="submenu-link" href="/en/how-can-we-help">How Can We Help</a></li>
              <li><a class="submenu-link" href="/en/value-of-the-plan">Value Of The Plan</a></li>
              <li><a class="submenu-link" href="/more/">More - Advice & Stories</a></li>
            </ul>
          </li>
          <li class="large-4 columns accordion-item" data-accordion-item="">
            <a class="accordion-title hide-for-large" href="#">Resources</a>
            <ul class="menu vertical accordion-content accordion-submenu" data-tab-content="">
               <li class="accordion-title hide-for-small">Resources</li>
              <li><a class="submenu-link" href="https://www.clientvu.ca/login/cana/cai/clie/priusacquiro.do" target="_blank">Client Account Access</a></li>
              <li><a class="submenu-link" href="https://bvi.bnc.ca/index/investorsgroup/indexen.html" target="_blank">Solutions Banking Access</a></li>
              <li><a class="submenu-link" href="/en/products/invest/mutual-funds">Mutual Funds</a></li>
              <li><a class="submenu-link" href="/en/client-resources/prices-and-rates/mortgage-rates">Mortgage Rates</a></li>
              <li><a class="submenu-link" href="#" target="_blank">View My Funds</a></li>
            </ul>
          </li>
      </ul>
  </div>
  <div class="row footer-social-media social-media">
    <div class="small-12">
      <ul class="row menu horizontal">
        <li>
          <a class="social-media-icon facebook-icon" href="https://www.facebook.com/InvestorsGroup"><img src="images/socialfacebook.svg"></a>
        </li>
        <li>
          <a class="social-media-icon linkedin-icon" href="https://www.linkedin.com/company/investors-group"><img src="images/sociallinkedin.svg"></a>
        </li>
        <li>
          <a class="social-media-icon twitter-icon" href="https://twitter.com/Investors_Group" ><img src="images/socialtwitter.svg"></a>
        </li>
        <li>
          <a class="social-media-icon youtube-icon" href="https://www.youtube.com/user/InvestorsGroupCanada"><img src="images/socialyoutube.svg"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row footer-copyright">
    <div class="columns footer-copyright-border-top">
      <div class="row">
        <div class="small-12 medium-12 large-3 columns">
          <ul class="menu">
            <li>© 2016 Investors Group Inc. All rights Reserved</li>
          </ul>
        </div>
        <div class="small-12 medium-12 large-9 columns">
          <ul class="menu horizontal">
            <li><a href="/en/legal">Legal</a></li>
            <li><a href="/en/legal/use">Terms Of Use</a></li>
            <li><a href="/en/legal/privacy-and-personal-information">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <ul class="menu">
            <li><a href="/en/contact-us/accessibility">Accessibility</a></li>
            <li><a href="/fr/default.aspx" target="_parent">Afficher En Francais</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</footer>

Styleguide 3.2
*/

/*.hide-for-small is supposed to be a class in foundation css,
it doesnt work for me maybe we need to update to the latest version of foundation*/
.hide-for-small{
  @media screen and (max-width: 1024px){
    display: none!important;
  }
}


.site-footer {
	background: $brand-color;
	color: $lightest-color;
  padding-top: 40px;

  @include respond-to(large){
    padding-top: 90px;
  }

	a, p {
		color: $lightest-color;
	}

  .columns{
    padding-left: 22px;
    padding-right: 22px;
  }


  .footer-back-to-top-button{
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 40px;

    .columns{
      border-bottom: 1px solid $lightest-color;
      padding-bottom: 8px;

      a{

        font-family: $font-whitney-sc;

        &::before{
          content: '';
          display: block;
          margin: 0 auto;
          width: $arrow-size*1.5;
          height: $arrow-size*1.5;
          border: none;
          border-bottom: solid 1px;
          border-right: solid 1px;
          transform-origin: center middle;
          transform: rotate(225deg) translate3d(0,0,0);
          transition: transform 0.3s ease-out;
          margin-bottom: -3px;
        }

        &:hover, &:focus{
          &::before{
            transform: rotate(225deg) translate3d(3px,3px,0);
          }
        }
      }
      hr{
        border-color: $lightest-color;
        padding-bottom: 8px;
      }
    }
  }

  .footer-navigation{
    // @include respond-to(large) {
    //   border-bottom: 1px solid #E5ECED;
    // }

    .columns{
      @include respond-to(large){
        text-align: center;
      }
    }

    .accordion{

      background: none;
      border: none;
      margin: 0;

      .accordion-item{
        @include respond-to(large) {
          border-bottom: none;
        }

        .accordion-title{
          padding: 20px 0px;
          border: none;
          border-bottom: 1px solid #314659;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $font-semibold;
          color: $lightest-color;

          &:before{
            top: 40%;
          }

          @include respond-to(large){
            pointer-events: none;
            border: none;
            font-size: 16px;
            padding-bottom: 35px;
          }

          &:hover, &:focus{
            background: none;
          }

          &::before{
            content: '';
            display: block;
            margin: 0 auto;
            width: $arrow-size;
            height: $arrow-size;
            border: none;
            border-bottom: solid 1px;
            border-right: solid 1px;
            transform-origin: center middle;
            transform: rotate(45deg) translate3d(0,0,0);
            transition: transform 0.3s ease-out;
            right: 5px;
            color: #acb7c0;

            @include respond-to(large){
              display: none;
             }
          }
        }

        &.is-active{
          .accordion-title{
            &::before{
              transform: rotate(225deg) translate3d(0,0,0);
            }
          }

          .accordion-content{
            border-bottom: 1px solid $footer-darkblue-line;

            @include respond-to(large){
              border-bottom: none;
            }
          }
        }

        .accordion-content{
          background: none;
          border: none;
          padding-left: 0;
          padding-right: 0;

          width: auto;
          float: none;
          text-align: left;


           @include respond-to(large){
            display: inline-block!important;
           }

           li{
              a{

                padding: 0.9rem 0;
                padding-left: 1.8rem;
                position: relative;

                &:before{
                  content: "\00a0";
                  width: 18px;
                  display: inline-block;
                  border-left: 2px solid #0d263c;
                  left: 1rem;
                  position: absolute;
                }

                &:hover{
                  background: #314659;

                  &:before{
                    border-left: 2px solid $lightest-color;
                  }
                }

                @include respond-to(large){
                  padding-left:0;

                  &:before{
                    display: none;
                  }

                  &:hover{
                    background: none;
                    text-decoration: underline;
                    color: $lightest-color;

                    &:before{
                      border: none;
                    }
                  }
                }
              }
           }
        }
      }
    }
  }

  .footer-social-media{
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 300px;
  }

  .footer-copyright{
      
    @include respond-to(large){
      padding-right: 0;
      padding-left: 0;
    }

    .footer-copyright-border-top{
      .row{
        
        margin: 0 auto;

        @include respond-to(large){
          border-top: 1px solid $footer-darkblue-line;
          text-align: center;
        }
        .columns{
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid $footer-darkblue-line;
          line-height: normal;
          text-align: center;

          @include respond-to(large){
            width: auto;
            border-top: 0;
            padding-left:0;
            padding-right:0;
            vertical-align: top;
            display: inline-block;
            float: none;
          }

            ul{
              display: inline-block;
              
              li{

                color: #acb7c0;
                line-height: 1.6;
                padding: 3px 18px;
                font-size: 12px;

                &:not(:last-child){
                  border-right: 1px solid $footer-darkblue-line;

                }

                @include respond-to(large){
                  padding-top:0;
                  padding-bottom:0;

                  border-right: 1px solid $footer-darkblue-line;
                }

                a{
                  padding:0;
                  color: #acb7c0;

                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
        }
      }
    } 
  }
}

.social-media{
  ul{
      display: table;
      margin: 0;
      width: 100%;

      li{
        .social-media-icon{
          width: 48px;
          height: 48px;
          border: 2px solid #0d263c;
          border-radius: 50%;
          padding: 0;
          position: relative;
          margin: 0 auto;

          &:hover{
            border-color: $lightest-color;
          }

          img{
            position: absolute;
            top: 23%;
            left: 24%;
            width: 24px;
          }
        }
      }
    }
}