/*
Header

This module is used to let a user navigate to the main sections of a site. It consists of top main and footer navigation.

Styleguide 3.1
*/

// FOUC (Flash of unstyled content)
.no-js .site-nav {
  opacity: 0;
}

.no-scroll {
	overflow: hidden;
}

.site-nav {
  opacity: 1;
  transition: opacity 0.15s ease-in;

  .home-link {
		margin: 0;
	}
  .top-bar, .top-bar .menu {
    background: transparent;
  }
}

#skip-navigation {
	top: 1em;
	left: 1em;
  position: fixed !important;
  z-index: 1000;
}

// .site-nav-wrap {
//   display: flex;
//   @include respond-to(large) {
//     flex-wrap: nowrap;
//   }
// }

.site-search {
  input {
    width: 30px;
    display: inline-block;
  }
  button {
   width: 30px;
   display: inline-block; 
  }
}