/*
Header

This is the site wide navigation.

Markup:
 <header role="banner" class="site-header">
  <a id="skip-navigation" class="show-on-focus button secondary" href="#content">Skip Navigation</a>
  <div class="row">
    <div class="columns">
      <div class="top-bar main-nav">
        <div class="top-bar-title">
          <div class="row">
            <div class="columns">
              <img src="/images/logo-en-color.svg" alt="" class="image-logo">
              <span class="float-right" data-responsive-toggle="main-navigation" data-hide-for="large">
                <button class="menu-icon dark" type="button" data-toggle></button>
              </span>
            </div>
          </div>
        </div>
        <div id="main-navigation" class="top-bar-right main-navigation">
          <div class="">
            <nav role="navigation">
              <ul class="menu vertical large-horizontal" data-responsive-menu="accordion large-dropdown">
                <li>
                  <form id="site-search" class="site-search" action="/en/search">
                    <label for="site-search-q">Search
                      <input type="search" id="site-search-q" name="q">
                    </label>
                    <input type="submit" class="button">
                  </form>
                </li>
                <li><a href="#">Services</a>
                  <ul class="menu vertical">
                    <li><a href="/en/opportunities/investment">Investments</a></li>
                    <li><a href="/en/opportunities/retirement">Retirement</a></li>
                    <li><a href="/en/opportunities/mortgage">Mortgages</a></li>
                    <li><a href="/en/opportunities/estate-planning">Estate Planning</a></li>
                    <li><a href="/en/opportunities/tax-planning">Tax Planning</a></li>
                    <li><a href="/en/opportunities/insurance">Insurance</a></li>
                  </ul>
                </li>
                <li><a href="#">Advice & stories</a></li>
                <li><a href="#" class="site-header-cta">Find an Advisor</a></li>
              </ul>
            </nav>
            <div class="top-bar aux-nav">
              <div class="row">
                <div class="columns">
                  <nav class="top-bar-right" role="navigation">
                    <ul class="menu vertical large-horizontal" data-responsive-menu="accordion large-dropdown">
                      <li><a href="#">Login</a>
                        <ul class="menu vertical">
                          <li><a href="/en/opportunities/investment">Client Login</a></li>
                          <li><a href="/en/opportunities/retirement">Solutions Banking &trade;</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Client Support</a></li>
                      <li><a href="#">Francais</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

Styleguide 3.1
*/
.site-header {
	border-bottom: 1px solid $grey;
	
  .top-bar-title {
    width: 100%;
  }

  @include respond-to(large) {
    padding-top: 36px;
    .top-bar-title {
      width: auto;
    }
  }
}

#skip-navigation {
	top: 1em;
	left: 1em;
  position: fixed !important;
  z-index: 1000;
}
.main-navigation {
  position: fixed;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $lightest-color;

  // transform: translate3d(0,0,0);
  // transform-origin: top right;
  // opacity: 1;
  // transition: 500ms transform ease-out, 300ms opacity ease-out;

  .menu {
    > li {
      > a {
        text-transform: uppercase;
        border-bottom: 1px solid $light-grey;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        position: relative;
        font-size: 14px;
        font-size: 0.875rem;
        &:hover, &:focus {
          background: $light-grey;

          &:before {                  
            content: '';
            position: absolute;
            border-left: 2px solid $brand-color;
            height: 18px;
            top: 1.3rem;
            left: 7px;
          }
        }

        @include respond-to(large) {
          padding: 0.7rem 1rem;
          border-bottom: none;

          &:hover, &:focus {
            background: transparent;

            &:before {                  
              border-bottom: 3px solid #0D263C;
              height: 0;
              top: auto;
              left: 1rem;
              bottom: -9px;
              right: 1rem;
            }
          }
        }
        &.site-header-cta {
          @include respond-to(large) {
            padding: 6px 1.25em;
            background-color: transparent;
            color: $darkest-color;
            text-align: center;
            border-radius: $border-radius;
            font-size: 16px;
            line-height: 1em;
            border: 1px solid $grey;

            &:hover, &:focus {
              background-color: $darkest-color;
              color: $lightest-color;
              border-color: $darkest-color;
              &:before {                  
                display: none;
              }
            }
          }
        }
      }
      &.language-toggle {
        text-align: center;
        a {
          border-bottom: none;
        }
      }
      [data-toggle=site-search] {
        padding: 0;
        height: 20px;
        width: 23px;
        cursor: pointer;
      }
    }
  }
  .menu.submenu {
    background: $light-grey;
      @include respond-to(large) {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        background: $lightest-color;
      }
    > li {
      padding: 0 0.875rem;
      a {
        @include respond-to(large) {
          text-transform: none;
          &:hover, &:focus {
            background-color: $light-grey;
            &:before {                  
              content: '';
              border-left: 2px solid $brand-color;
              height: 16px;
              top: 0.7rem;
              left: 7px;
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  // Keeping in place for future animated header nav
  @include respond-to(large) {
    position: static;
    transform:none;
    opacity: 1;
  }
}

.main-navigation-wrapper {
  height: 100%;
  overflow-x: hidden;
  @include respond-to(large) {
    height: auto;
    overflow-x: visible;
  }
}

.aux-nav {
	padding: 0;
  @include respond-to(large) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $light-grey;
    min-height: 36px;
    > .row {
      max-width: 75rem !important; // Special case of nested rows in order to get the lock up just right
      margin-left: auto;
      margin-right: auto;
    }
  }

  .menu {
    > li {
        &:last-child {
          a:after{
            display: none;
          }
        }
      > a {
        @include respond-to(large) {
          text-transform: none;
          &:hover, &:focus {

            &:before {                  
              bottom: -1px;
            }
          }
        }
      }
    }
  }
}
.primary-nav {
  @include respond-to(large) {
    position: relative;

    .submenu, .submenu li {
      background: $lightest-color;
    }
  }
}
.site-search {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;

  .input-group {
    margin-bottom: 0;
  }
  .input-group-label {
    img {
      min-width: 14px;
      @include respond-to(large) {
        min-width: 20px;
      }
    }
  }
  input {
    max-width: 100%;
    margin-right: 0;
  }

  @include respond-to(large) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $lightest-color;
    padding: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center right;

    transition: transform 0.3s ease-out;

    [data-toggle=site-search] img {
      opacity: 0;
      transition: opacity 0.3s ease-out;
      transition-delay: 0.33s;
    }

    &.site-search-is-active {
      transform: scaleX(1);
      z-index: 500;

      [data-toggle=site-search] img {
        opacity: 1;
      }
    }
  }
}

// States of the component
.site-header-is-active {
  overflow: hidden;
  @include respond-to(large) {
    overflow: visible;
  }
}