/*
Header

This module is used to let a user navigate to the main sections of a site. It consists of top main and footer navigation.

Styleguide 3.1
*/

// FOUC (Flash of unstyled content)
.no-js .site-nav {
  opacity: 0;
}

.no-scroll {
	overflow: hidden;
}

.site-nav {
  opacity: 1;
  transition: opacity 0.15s ease-in;

  .home-link {
		margin: 0;
	}
}

.site-nav-bar {
  background: transparent;
  border-bottom: 1px solid $color-grey;
  .menu {
    background: transparent;
    a {
      color: $color-grey-dark-60;
      &:hover {
        text-decoration: none;
        color: $color-grey-dark-80;
      }
      &::after {
        border-color: $color-grey-dark-80;
      }
    }
  }
  .submenu {
    background: $color-lightest;
  }
  #site-nav-main {
    flex-wrap: wrap;
  }
  .site-nav-main {
    flex: 0 0 100%;

    @include respond-to(large) {
      flex: 1 1 auto;
     }
  };
  .site-nav-aux {
    flex: 0 0 100%;
    @include respond-to(large) {
      flex: 1 1 auto;
     }
  }
  .site-nav-login {
    flex: 0 0 auto;
  };
}

#skip-navigation {
	top: 1em;
	left: 1em;
  position: fixed !important;
  z-index: 1000;
}

// .site-nav-wrap {
//   display: flex;
//   @include respond-to(large) {
//     flex-wrap: nowrap;
//   }
// }

.site-search {
  #site-search-q {
    display: block;
    width: 144px;
    margin: 0;
    transition: width 0.3s ease-out;
  }
  button {
   display: none;
   position: absolute;
   right: 0;
   top: 0;
   width: 44px;
   height: 40px;
   padding: $base-spacing/2;
   background: $color-brand-primary;
   opacity: 0;
   transition: opacity 0.4s ease-out;
  }

  &.is-active {
      background: $color-lightest;
      #site-search-q {
        width: 100%;
        padding-right: 10px;
      }
      button {
       display: block; 
       opacity: 1;
       
      }
  }
}