/*
Hero

Use this module at the top of your page as a starting point for communicating the key message for the content below.

Markup:
<div class="hero {$modifiers} bg-primary">
  <div class="hero-copy">
    <h1>Life is rich and varied. Your financial plan should be, too.</h1>
    <p class="callout-body-copy">We focus on six areas of your financial life to help you get more out of your money, so you can get more out of life.</p>
  </div>
  <div class="hero-image">
    <img alt="Man with many hats" src="images/hat-stacks.png" />
  </div>
  <a href="#content" class="hero-cta">let's get started</a>
</div>

.patterned - This variant is used for service landing pages, also referred to as L2 pages. They consist of a  H1 title, a tagline and a background image.
.super-hero  - This variant is larger than other hero modules living on the homepage, usually containing more content than other variants.

Styleguide 3.3
*/
.hero {
	background-position: 0 0;
	background-repeat: repeat-x;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	max-height: 300px;

	@include respond-to(small) {
		min-height: 400px;
		max-height: 400px;
	}

	&.patterned {
		background-image: url(../images/tiled-weathered-pattern.jpg);
	}
	&.super-hero {
		min-height: 500px;
		@include respond-to(large) {
			min-height: 780px;
		}
	}
	&.patterned-more{
		background: url(../images/header-rp.png);
		background-repeat: round;
		background-size: 100% auto;
	}
}

.hero.support-contact {
	min-height: 0;
}

.hero-copy {
	text-align: center;
	z-index: 100;
	flex-grow: 1;

	h1, p{
		widows: 2;// Just in case its supported
	}

	h1 {
		margin-bottom: 30px;
	}
}
.super-hero .hero-copy {
	text-align: left;

	.callout-body-copy {
		width: 90%;
	}

	.row {
		@include respond-to(xxlarge) {
			max-width: 70%;
		}
	}

	.columns {
		padding-left: 10%;

		@include respond-to(xlarge) {
	    	padding-left: 0.9375rem;
		}

		@include respond-to(xxlarge) {
			width: 100%;
		}
	}
}

.hero-image {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	max-width: 100%;

	img {
		width: 100%;

		@include respond-to(large) {
			width: 100%;
		}
	}
}

.hero-maintain-aspect {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	
	img {
		position: relative;
		min-height: 400px;
		min-width: 1280px;
		transform: translate3d(-50%,0,0);
		left: 50%;
	}

	.right-focus {
		transform: translate3d(-95%,0,0);
		left: 95%;
	}

	.left-focus {
		transform: translate3d(-5%,0,0);
		left: 5%;
	}
}

//Vars for super hero image dimensions
$origImageW: 348px;
$origImageH: 722px;
$defaultWidth: 220px;
$largeWidth: 360px;

.super-hero .hero-image {
	left: auto;
	margin-right: -100px;
	@include scale($origImageW, $origImageH, $defaultWidth);

	@include respond-to(medium) {
		left: auto;
		margin-right: 0;
	}

	@include respond-to(large) {
		@include scale($origImageW, $origImageH, $largeWidth);
	}
}

.hero-cta {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	text-transform: lowercase;
	font-family: $font-stack-sc;

	text-shadow: 1px 1px rgba(255,255,255,0.5);
	color: $brand-color;

	&::after{
		content: '';
		display: block;
		margin: 0 auto;
		width: $arrow-size*1.5;
	    height: $arrow-size*1.5;
	    border: none;
	    border-bottom: solid 1px;
	    border-right: solid 1px;
	    transform-origin: center middle;
	    transform: rotate(45deg) translate3d(0,0,0);
	    transition: transform 0.3s ease-out;
	}

	&:hover, &:focus {
		color: $brand-color;
		text-decoration: underline;
		&::after{
			transform: rotate(45deg) translate3d(3px,3px,0);
		}
	}
}