.no-js .in-section-nav {
  opacity: 0;
}
.in-section-nav {
  padding: $base-spacing 0;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.15s ease-in;

  display: flex;
  flex-wrap: wrap;

  @include respond-to(large) {
    flex-wrap: nowrap;
  }

  a {
      color: $color-grey-dark-60;
      &:hover {
        text-decoration: none;
        color: $color-grey-dark-80;
      }
  }
}

.in-section-nav-title {
  flex: 1 1 100%;
  position: relative;

  @include respond-to(large) {
    flex: 0 0 auto;
  }
} 
.in-section-nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  button {
    display: block;
    height: 100%;
    width: 100%;
  }
}
/* Styling for arrow icons on right*/
.in-section-nav-toggle {
  &::after {
    content: " ";
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: $base-spacing;
    transition: all 0.5s;
    transform: rotate(45deg) translate3d(0px, 0px, 0px);
    position: absolute;
    top: 0;
    right: $base-spacing;
  }

  &.is-active::after {
    transform: rotate(-135deg) translate3d(-6px, -8px, 0px);
  }
}

.in-section-nav-menu {
  flex: 1 1 100%;
  .menu {
    background-color: transparent;
    padding: $base-spacing*2 $base-spacing*4;
    @include respond-to(large) {
      padding: 0;
      margin-left: $base-spacing;
    }

    li {
      border-bottom: 1px solid $color-grey-light-15;
      &:last-child {
        border-color: transparent;
      }
      @include respond-to(large) {
        border-bottom: 1px solid transparent;
        border-right: 2px solid $color-grey-light-15;
        &:last-child {
          border-right: 2px solid transparent;
        }
      }

      a {
        margin: $base-spacing 0;
        padding: $base-spacing;
        border-left: 2px solid transparent;
        transform: translate3d(-$base-spacing, 0px, 0px);

        @include respond-to(large) {
          margin: 0 $base-spacing*2;
          padding: $base-spacing 0;
          border-left: none;
          border-bottom: 2px solid transparent;
          transform: translate3d(0px, 0px, 0px);
        }
        &:hover, &:focus, &.is-active {
          border-left: 2px solid $color-grey;
          @include respond-to(large) {
            border-left: none;
            border-bottom: 2px solid $color-darkest;
          }
        }
      }
    }
  }
}