.ig-layout-container {

  a .ig-title {
    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 640px) {
    .ig-custom-10 {
      width: 100% !important;
    }
  }

  &.column-padding-inside > .row > .ig-component-block.columns {
    padding: 0;
  }


  @media screen and (min-width: 641px) {
    .ig-custom-10 {
      width: 20% !important;
    }
    &.equal-heights {
      display: flex;
      flex-wrap: wrap;

      .ig-component-block {
        display: flex;
        height: 100%;

        .ig-list, .ig-figure {
          height: 100%;
        }
      }
    }
  }
}
