.media-hero {
  position: relative;
  clear: both;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;

  @media screen and (min-width: 420px) and (max-width: 599px) {
    height: 575px;
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    height: 675px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    height: 750px;
  }

  @media screen and (min-width: 1025px) {
    height: 975px;
  }

  .media-hero__header {
    position: absolute;
    top: 0;
    height: 63%;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    padding-top: 15%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 1024px) {
      padding-top: 120px;
    }
  }

  .media-hero__footer {
    position: absolute;
    top: 63%;
    height: 37%;
    width: 100%;
  }

  .media-hero__content {
    margin-top: 13%;
    height: 50%;
    width: 95%;
    max-width: 520px;
    z-index: 100;

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      width: 70%;
    }

    @media screen and (min-width: 1024px) {
      width: 60%;
    }

    // Make sure to override any Foundation layout classes
    .large-4, .medium-6 {
      width: 100%;
    }


  }
}
