.media-hero {
  position: relative;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
  max-height: 940px;
}

.media-hero__header {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  background-color: #ccc;
  text-align: center;
  padding: 0 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &.tiled {
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat;
  }
}

.media-hero__footer {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &.tiled {
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat;
  }
}

.media-hero__content {
  margin-top: 0;
  z-index: 100;
  padding-bottom: 0;
  position: relative;

  img, video {
    margin: 0 auto;
  }

  @media screen and (min-width: 800px) {
    max-width: 768px;
  }

  @media screen and (max-width: 799px){
    max-width: 90%;
  }

  // Make sure to override any Foundation layout classes
  .large-4, .large-6, .medium-4, .medium-6 {
    width: 100%;
  }

  .ig-video-group {
    margin-top: 0;
  }

  .columns {
    padding: 0;
  }
}

.media-hero.title-block {
  .media-hero__header {
    padding-top: 8%;
    height: 63%;

    @media screen and (min-width: 1024px) {
      padding-top: 110px !important;
    }
  }

  .media-hero__footer {
    top: 63%;
    height: 37%;
  }

  .media-hero__content {
    margin-top: 160px;

    @media (max-width: 639px) {
      margin-top: 125px;
    }

    @media (min-width: 1024px) {
      margin-top: 260px;
    }
  }

}
