$more-background-yellow: #FAF7E6;

// siloed changes I made as per UX review - to be discussed
.bg-more-section {
  background-color: $more-background-yellow;

  .callout-body-copy {
    @include respond-to(small) {
      font-size: 22px;
    }
  }
}

.title-section {
  position: relative;
  margin-top: 45px;

  @include respond-to(medium) {
    margin-top: 50px;
  }

  .article-category {
    margin-bottom: 25px;
    display: block;

    p {
      // put this in global colors?
      color: $button-primary-color;
      margin: 0;
    }
  }

  h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid #e0d9d1;
  }

  .byline {
    text-transform: uppercase;
  }

  .share-icons {
    margin: 18px auto;

    @include respond-to(medium) {
      text-align: right;
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .article-subtitle {
    margin: 18px auto;

    @include respond-to(medium) {
      margin: 35px auto;
    }
  }
}

.image-caption {
  color: #a4a39c;
  float: left;

  @include respond-to(medium) {
    float: none;
    text-align: center;
  }
}

.article-body {

  @include respond-to(medium) {
    margin: 35px auto;
  }

  p {
    margin: 45px auto;
    @include respond-to(medium) {
      margin: 18px auto;
    }

    // h1 {
    //   .hero-title {
    //     color; $button-primary-color;
    //     float: left;
    //     // display: block;
    //     margin-right: 10px;
    //     margin-top: 8px;
    //   }
    // }

    // span with .hero-title class instead
    &:first-child {
      &:first-letter {
        color: $button-primary-color;
        display: block;
        float: left;
        font-size: 3.3em;
        line-height: 35px;
        margin-right: 10px;
        margin-top: 8px;
      }
    }
  }

  blockquote {
    border-top: 3px solid $button-primary-color;
    color: inherit;
    margin: 78px 45px 66px 45px;
    border-left: none;
    padding: 12px 0 0 0;

    @include respond-to(medium) {
      float: left;
      margin: 9px 45px 9px 0;
      width: 30%;
    }
  }
}
