/*
More Article Body Text

Basic template for body content of More Articles. The first letter of the first paragraph on each page should be styled as a drop-cap. Includes formatting for blockquotes and a few other variations.

Markup:
<!-- more-article -->
<article class="bg-more-section">
  <!-- article content -->
  <section class="row">
    <div class="small-11 small-centered medium-10 medium-offset-1 columns">
      <div class="article-body row">
        <div class="small-12 medium-10 small-centered columns">
          <p class="body-copy"><span class="more-drop-cap">T</span>his is the time of the year when we make resolutions – to lose weight, to be better with our money or just to be a better person. But instead of making multiple resolutions that most of us never keep, what if we just decided to do one thing in 2017 to help make our world a better place? Surely one resolution is easier to keep than many.</p>
          <p class="body-copy">Figuring out what to do, though, can be a challenge – there are so many organizations that need help and so many ways to give back. Candice Lepage, a Guelph, Ontario-based communications professional, is already wondering how she’ll give back in the New Year. “My goal for this year has been to live more intentionally, and I realized that I haven’t been very intentional with my giving,” she says. “It’s something for me to think about for 2017.”</p>
          <blockquote class="callout-body-copy">
          Ask yourself what kind of impact you want to have on people. Consider creating a “multi-plan,” where you’ll write down several things you care about and then narrow it down from there.
          </blockquote>
          <p class="body-copy">If you’re having trouble deciding on what cause or charity to concentrate on, there are ways to cut through the noise, says Paul Nazareth, vice-president, community engagement, at CanadaHelps, a site that describes itself as a one-stop shop for people and charities. Start by asking yourself what kind of impact you want to have on people. Consider creating a “multi-plan,” where you’ll write down several things you care about and then narrow it down from there, he says.</p>
          <p class="body-copy">Once you’ve decided on one or two causes to support, it’s time to do a little research. Nazareth suggests checking your charities’ overheads, including administration costs, salaries and how much money they spend to raise money. The information is usually available on a charity’s site or through the Canada Revenue Agency, and it can indicate how they’re using their donations. Most of the money should go to fulfilling the charity’s mandate.</p>
          <p class="body-copy">Also, consider calling and asking for a tour. This is a great opportunity to ask questions about how charities are meeting their goals, including what metrics they’re using and how they’re tracking them. Get as much reading material – such as annual reports – as you can, and read it all. Nazareth says people choose a charity with their emotions, but the final decision should be made with their heads.</p>
          <p class="body-copy">When you do decide on what cause to support in 2017, remember that it’s the start of a relationship and you should want that relationship to be a long one. Lepage is mulling her choices, but does hope to focus on two things: something personal, and something that helps the greater world. Her New Year’s resolution right now is to just start attending local meetings to see what’s out there and how she can contribute. “I want to start going to local events and learning,” she says. “Not saying anything, just listening and learning.”</p>
        </div>
      </div>
    </div>
  </section>
</article>

Styleguide 4.1
 */

// specific colors for More section
// used on multiple components
$more-background-yellow: #FAF7E6;
$more-article-gray: #e0d9d1;
$image-caption-gray: #646464;

// common underline style
$more-underline: 1px solid $more-article-gray;
$link-hover: #0BAB7B;

.bg-more-section {
  background-color: $more-background-yellow;
}

// more-article page

// includes styling for separator line
.separator-line-container {
  padding-bottom: 25px;
  padding-top: 25px;

  @include respond-to(medium) {
    padding-bottom: 35px;
    padding-top: 35px;
  }
}

// includes styling for articles with right-aligned images
.content-right-image-container {
  border-bottom: $more-underline;
}

// main article content
.article-body {
  @include respond-to(medium) {
    margin: 35px auto;
  }

  .more-callout-body-copy-bold {
    margin-top: 22px;
    margin-bottom: -22px;

    @include respond-to(medium) {
      margin-bottom: inherit;
    };
  }

  a {
    color: $button-primary-color;
  }

  p {
    margin: 45px auto;
    @include respond-to(medium) {
      margin: 18px auto;
    }
  }

  .offset-list {
    padding-left: 30px;
  }

  .list-source-footer {
    // need to define variable for this
    color: #a4a39c;
  }

  blockquote {
    border-top: 3px solid $button-primary-color;
    color: inherit;
    margin: 78px 45px 66px 45px;
    border-left: none;
    padding: 12px 0 0 0;

    @include respond-to(medium) {
      float: left;
      margin: 11px 45px 15px 0;
      width: 30%;
    }
  }

  .author-pic-container {
    padding-bottom: 35px;
    margin-top: 20px;
    overflow: auto;

    .author-pic {
      width: 140px;
      margin-right: 14px;
      float: left;

      @include respond-to(medium) {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .author-description {
      margin: 0 auto;
      display: block;

      @include respond-to(large) {
        color: #9c9c96;
      }

      .author-title {
        text-transform: uppercase;
        padding-bottom: 20px;
      }
    }
  }
}


// more-image-carousel
.more-image-carousel {
  padding-bottom: 20px;

  // overriding default carousel button placement
  // to account for figure captions
  button {
    top: 35%;
    @include respond-to(medium) {
      top: 38.5%;
    }
  }

  .carousel-figure {
    margin-bottom: 20px;

    .image-with-caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;

      // this is a strange css hack
      // that fixes some flexbox bugs on IE 10 and above
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: block;
        text-align: center;
      }

      .image-caption {
        color: $image-caption-gray;
        align-self: flex-start;
        text-transform: uppercase;

        @include respond-to(medium) {
          align-self: center;
          text-align: center;
        }
      }
    }
  }
}
