
.more-image-with-caption {
  padding: 10px 0 10px 0;

  .image-with-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    // this is a strange css hack
    // that allows me to target only IE 10 and above
    // fixes some flexbox bugs
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
    }

    .image-caption {
      color: $image-caption-gray;
      align-self: flex-start;
      text-transform: uppercase;

      @include respond-to(medium) {
        align-self: center;
        text-align: center;
      }
    }
  }
}
