.homepage-carousel {
  padding: 0;

  .columns, .column {
    padding: 0;
    
    @include respond-to(large) {
      padding: 0 20px;
    }
  }

  .large-card-content {
    padding: 40px 25px;
    @include respond-to(medium) {
      padding: 20px 0 0 20px;

      .title-excerpt {
        display: none;
      }
    }

    @include respond-to(large) {
      padding: 20px 0 0 20px;

      .title-excerpt {
        display: inline;
      }
    }
  }

  .homepage-carousel-slide {
    margin: 0;

    @include respond-to(large) {
      margin: 0 25px;
    }
  }

  .section-title {
     a {
      color: $button-primary-color;
    };

    h4 {
      padding: 5px 0;
      margin: 0;
    }
  }

  .author {
    font-size: 14px;
  	font-size: 1rem;
  	font-family: $font-stack;
  	line-height: 1.4em;
  	text-transform: uppercase;
  }

  p {
    margin-bottom: 10px;
  }

  .content-title {
    margin: 10px 0 15px 0;
  }

  .read-more-box {
    margin: 7px 0 5px 0;

    .tertiary-cta {
      margin: 0;
    }
  }
}

// .homepage-carousel .slick-slider {
//   padding: 0;
//   background-color: blue;
// }

// @media only screen and (min-width: 1024px) {
//   .homepage-carousel .slick-slider {
//     padding: 0;
//     background: blue;
//   }
// }

@media only screen and (min-width: 40.0625em) {
  .homepage-carousel .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 53.4%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 64.0625em) {
  .homepage-carousel .slick-dots {
    left: 52.5%;
  }
}

@media (min-width: 1360px) {
  .homepage-carousel .slick-dots {
    bottom: 30px;
    left: 52%;
  }
}
