.full-width-header {
  max-height: 700px;
  margin-bottom: 60px;

  p, a, h1 {
    color: $lightest-color;
  }

  .full-image-container {
    position: relative;

    .image-overlay {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    .full-width-title {
      z-index: 1000;

      .title-container {
        position: absolute;
        bottom: 0;
        padding-bottom: 25px;

        h1 {
          border-bottom: 1px solid $lightest-color;
        }

        .byline {
          text-transform: uppercase;
        }
      }
    }
  }
}

.full-width-share-icons {
  margin: 18px auto;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.small-image-container {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  padding-bottom: 90%;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: -50%;
    height: 100%;
    // max-width is needed to override foundations styling
    max-width: none;
  }
}
