.trending-main, .category-section-main {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: $highlight-color;
  margin: 0 auto;

  .trending-title {
    margin-left: 25px;

    @include respond-to(medium) {
      margin: 15px 25px;

      h4 {
        font-size: 22px;
      }
    }
  }

  .tile {
    position: relative;
    padding: 25px;
    border-top: solid 5px $highlight-color;
    transition: background-color 0.2s, border-top-color 0.5s;
    border-bottom: 1px solid #E0E2E2;

    &:last-child {
      border-bottom: none;
      float: left;
    }

    @include respond-to(medium) {
      height: 665px;

      &:nth-of-type(1) {
        border-right: 1px solid #E0E2E2;
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(2) {
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(3) {
        border-right: 1px solid #E0E2E2;
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(4) {
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(5) {
        border-right: 1px solid #E0E2E2;
        border-bottom: none;
      }
    }

    @include respond-to(large) {
      height: 555px;

      &:hover {
        background-color: #fff;
        border-top-color: $button-primary-color;
      }

      &:nth-of-type(1) {
        border-right: 1px solid #E0E2E2;
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(2) {
        border-right: 1px solid #E0E2E2;
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(3) {
        border-right: none;
        border-bottom: 1px solid #E0E2E2;
      }
      &:nth-of-type(4) {
        border-right: 1px solid #E0E2E2;
        border-bottom: none;
      }
      &:nth-of-type(5) {
        border-right: 1px solid #E0E2E2;
        border-bottom: none;
      }
    }
  }

  .section-image {
    margin-bottom: 25px;
  }

  .section-title {
    margin-bottom: 5px;

    a {
      color: $button-primary-color;
    };
  }

  .callout-body-copy {
    text-transform: none;
    font-size: 1.5em;

    @include respond-to(large) {
      line-height: 1.1em;
    }
  }

  .title-excerpt {
    margin: 10px 0;
    display: block;

    p {
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .author {
    font-size: 13px;
    font-weight: 600;
    font-family: $font-stack;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include respond-to(large) {
      margin-bottom: 15px;
    }
  }

  .read-more-box {
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;

    .tertiary-cta {
      margin: 0;
    }

    @include respond-to(medium) {
      position: absolute;
      margin: 0;
      bottom: 25px;
    }
  }

  .share-box {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-top: 25px;
    float: right;

    @include respond-to(medium) {
      position: absolute;
      bottom: 50px;
      right: 25px;
      margin-top: 0;
    }

    .js-open-socialdrawer {
      @include respond-to(medium) {
        display: none;
      }
    }

    .share {
      position: relative;
      margin-top: 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;

      ul {
        list-style-type: none;
        padding: 0;
        opacity: 1;

        li {
          display: inline-block;
        }

      }

      @include respond-to(medium) {
        margin-top: 0;
        margin-bottom: 0;
        overflow: visible;

        ul {
          margin: 0;
        }

        img {
          height: 26px;
          max-width: 26px;
        }
      }

      @include respond-to(large) {
        ul {
          opacity: 0;
          transition: opacity 250ms;
          li {
            opacity: 1;
            transition: opacity 250ms;

            &:hover {
              opacity: 0.6;
            }
          }
        }

        .show-list-on-hover {
          opacity: 1;
        }
      }
    }

    .js-socialdrawer-opened {
      max-height: 50px;

      @include respond-to(medium) {
        max-height: 0;
      }
    }
  }

  .highlight-title {
    display: block;

    h3 {
      background-image: url(http://investorsgroup.com/more/wp-content/themes/ig_magazine/img/bg-images/highlight.png);
      background-repeat: repeat-x;
      background-position: 0 20px;
      display: inline;
      font-size: 1.5em;
      line-height: 1.2em;

      @include respond-to(medium) {
        background-position: 0 28px;
        font-size: 2em;
      }
    }
  }
}
