/*
News & Trending

6 panel news and trending top articles on More Homepage.

Markup:
<div class="trending-main">
  <div class="row">
    <div class="trending-title">
      <h4 class="body-copy-bold">News &amp; Trending&nbsp;—</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-3 columns tile">
      <a href="/more-article.html">
        <img class="section-image" width="600" height="450" src="images/JOMO_Vigg_F-feature-600x450.jpg">
      </a>
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Life</h4></a>
      <h3 class="more-callout-body-copy-bold">
        <a href="/more-article.html">So Long, Social Media</a>
      </h3>
      <div class="title-excerpt" style="word-wrap: break-word;">
        <a href="/more-article.html" style="display: inline;">
          <p class="body-copy">There’s a movement afoot, called the Joy of Missing Out, where people put down their cell phones and enjoy... </p>
        </a>
      </div>
      <div class="legal-copy">By Shawna Cohen</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-6 columns tile">
      <a href="/more-article.html">
        <img class="section-image" width="600" height="450" src="images/CPPchanges-600x250.jpg" alt="">
      </a>
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Work</h4></a>
      <h3 class="more-callout-body-copy-bold">
        <a href="/more-article.html">5 Things Your Business Needs to Know About Future CPP Changes</a>
      </h3>
      <div class="title-excerpt" style="word-wrap: break-word;">
        <a href="/more-article.html" style="display: inline;">
          <p class="body-copy">Significant changes to the Canada Pension Plan come into effect in 2019. Start getting ready now.</p>
        </a>
      </div>
      <div class="legal-copy">By Investors Group</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-3 columns tile">
      <a href="/more-article.html">
        <img class="section-image" width="600" height="450" src="images/RetireesSharingEconomy-600x450.jpg" alt="">
      </a>
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Life</h4></a>
      <h3 class="more-callout-body-copy-bold">
        <a href="/more-article.html">Retirees Are Reshaping the Sharing Economy</a>
      </h3>
      <div class="title-excerpt" style="word-wrap: break-word;">
        <a href="/more-article.html" style="display: inline;">
          <p class="body-copy">An increasing number of retirees are turning to companies like Uber and Airbnb to stay active.</p>
        </a>
      </div>
      <div class="legal-copy">By Investors Group</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-6 columns tile">
      <a href="/more-article.html">
        <img class="section-image" width="600" height="450" src="images/LIRA-600x250.jpg" alt="">
      </a>
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Money</h4></a>
      <h3 class="more-callout-body-copy-bold">
        <a href="/more-article.html">Meet LIRA, the Lesser-Known Retirement Savings Plan</a>
      </h3>
      <div class="title-excerpt" style="word-wrap: break-word;">
        <a href="/more-article.html" style="display: inline;">
          <p class="body-copy">There’s more to Canadian savings accounts than the RRSP and the TFSA.</p>
        </a>
      </div>
      <div class="legal-copy">By Investors Group</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-3 columns tile">
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Money</h4></a>
      <div class="highlight-title">
        <h3 class="content-title-strikethrough">
          <a href="/more-article.html">Why Are Mortgage Rates Rising?</a>
        </h3>
      </div>
      <div class="title-excerpt" style="word-wrap: break-word;">
        <a href="/more-article.html" style="display: inline;">
          <p class="callout-body-copy">While Canada’s overnight rate hasn’t budged in a while...</p>
        </a>
      </div>
      <div class="legal-copy">By Investors Group</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-offset-0 medium-6 large-3 columns tile">
      <a href="/more-article.html">
        <img class="section-image" width="600" height="450" src="images/MORE_BB-600x450.jpg" alt="">
      </a>
      <a href="/sprint-4-category.html"><h4 class="more-small-section-title">Money</h4></a>
      <h3 class="more-callout-body-copy-bold">
        <a href="/more-article.html">2017 Market Outlook</a>
      </h3>
      <div class="legal-copy">By Investors Group</div>
      <div class="read-more-box">
        <a href="/more-article.html" class="tertiary-cta">Read More</a>
      </div>
      <div class="share-box">
        <button class="js-open-socialdrawer">
          <img src="images/share-green.svg" alt="">
        </button>
        <div class="share js-socialdrawer">
          <ul>
            <li><a href="#"><img src="images/share-linkedin-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-facebook-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-twitter-green.svg" alt=""></a></li>
            <li><a href="#"><img src="images/share-email-green.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

Styleguide 4.1
*/


// $border-color is defined and used below (and in the _more-category.scss) as it was not defined in _settings.scss
$border-color: #E0E2E2;

.trending-main, .category-section-main {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: $highlight-color;
  margin: 0 auto;

  .trending-title {
    margin-left: 25px;

    @include respond-to(medium) {
      margin: 15px 25px;
    }
  }

  .tile {
    position: relative;
    padding: 25px;
    border-top: solid 5px $highlight-color;
    transition: background-color 0.2s, border-top-color 0.5s;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
      float: left;
    }

    @include respond-to(medium) {
      height: 665px;

      &:nth-of-type(1) {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(2) {
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(3) {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(4) {
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(5) {
        border-right: 1px solid $border-color;
        border-bottom: none;
      }
    }

    @include respond-to(large) {
      height: 555px;

      &:hover {
        background-color: $lightest-color;
        border-top-color: $button-primary-color;

        .js-socialdrawer {
          ul {
            opacity: 1;
          }
        }
      }

      &:nth-of-type(1) {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(2) {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(3) {
        border-right: none;
        border-bottom: 1px solid $border-color;
      }
      &:nth-of-type(4) {
        border-right: 1px solid $border-color;
        border-bottom: none;
      }
      &:nth-of-type(5) {
        border-right: 1px solid $border-color;
        border-bottom: none;
      }
    }
  }

  .section-image {
    margin-bottom: 25px;
  }

  .body-copy-bold {
    text-transform: uppercase;
  }

  // .section-title {
  //   margin-bottom: 5px;
  //
  //   a {
  //     color: $button-primary-color;
  //   };
  // }

  .more-callout-body-copy-bold {
    text-transform: none;
    // font-size: 1.5em;

    @include respond-to(large) {
      line-height: 1.1em;
    }
  }

  .title-excerpt {
    margin: 10px 0;
    display: block;

    p {
      margin-bottom: 0;
    }

    .callout-body-copy {
      font-size: 24px;
      
      @include respond-to(medium) {
        font-size: 28px;
      }
    }
  }

  .legal-copy {
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;

    @include respond-to(large) {
      margin-bottom: 15px;
    }
  }

  .read-more-box {
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;

    .tertiary-cta {
      margin: 0;

      @include respond-to(medium) {
        font-size: 18px;
      }
    }

    @include respond-to(medium) {
      position: absolute;
      margin: 0;
      bottom: 25px;
    }
  }

  .share-box {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-top: 25px;
    float: right;

    @include respond-to(medium) {
      position: absolute;
      bottom: 50px;
      right: 25px;
      margin-top: 0;
    }

    .js-open-socialdrawer {
      @include respond-to(medium) {
        display: none;
      }
    }

    .share {
      position: relative;
      margin-top: 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;

      ul {
        list-style-type: none;
        padding: 0;
        opacity: 1;

        li {
          display: inline-block;

        }

      }

      @include respond-to(medium) {
        margin-top: 0;
        margin-bottom: 0;
        overflow: visible;

        ul {
          margin: 0;

          li {
            margin-right: 4px;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }

        img {
          height: 26px;
          max-width: 26px;
        }
      }

      @include respond-to(large) {
        ul {
          opacity: 0;
          transition: opacity 250ms;
          li {
            opacity: 1;
            transition: opacity 250ms;
          }
        }

        .show-list-on-hover {
          opacity: 1;
        }
      }
    }

    .js-socialdrawer-opened {
      max-height: 50px;

      @include respond-to(medium) {
        max-height: 0;
      }
    }
  }

  .highlight-title {
    display: block;
    margin-bottom: 20px;

    @include respond-to(large) {
      margin-bottom: 0;
    }

    .content-title-strikethrough {
      font-size: 24px;
      font-size: 1.5rem;
      font-family: $font-stack-light;
      line-height: 1.4em;
      text-transform: capitalize;
      background-image: url(http://investorsgroup.com/more/wp-content/themes/ig_magazine/img/bg-images/highlight.png);
      background-repeat: repeat-x;
      background-position: 0 20px;
      display: inline;
      // font-size: 1.5em;
      line-height: 1.2em;

      @include respond-to(medium) {
        font-size: 28px;
    		font-size: 1.75rem;
        background-position: 0 25px;
      }

      @include respond-to(large) {
        background-position: 0 30px;
        font-size: 36px;
    		font-size: 2.25rem;
      }
    }
  }
}
