// More Homepage carousel
// .home-hero is for the single slide lower on the More Homepage
// There are more rules below for .home-hero

.homepage-carousel, .home-hero {
  padding: 0;

  .columns, .column {
    padding: 0;

    @include respond-to(large) {
      padding: 0 20px;
    }
  }

  .large-card-content {
    padding: 40px 25px;

    @include respond-to(medium) {
      padding: 20px 0 0 20px;
    }

    @include respond-to(large) {
      padding: 20px 20px 0 20px;
    }
  }

  .slick-prev {
    z-index: 1;
    &:before {
      border-top: solid 4px $button-primary-color;
      border-right: solid 4px $button-primary-color;
    }
  }

  .slick-next {
    &:after {
      border-top: solid 4px $button-primary-color;
      border-right: solid 4px $button-primary-color;
    }
  }

  .homepage-carousel-slide {
    margin: 0;
    position: relative;

    @include respond-to(large) {
      margin: 0 25px;

      &:hover {
        .js-socialdrawer {
          ul {
            opacity: 1;
          }
        }
      }
    }
  }

  .section-title {
     a {
      color: $button-primary-color;
    };

    h4 {
      padding: 5px 0;
      margin: 0;
    }
  }

  .content-title {
    margin: 0;
    line-height: 40px;

    @include respond-to(medium) {
      margin-bottom: 15px;
    }

    @include respond-to(large) {
      margin-bottom: 0;
    }
  }

  .title-excerpt {
    margin: 10px 0;
    display: block;

    p {
      font-weight: 500;
      margin-bottom: 0;
    }

    @include respond-to(medium) {
      display: none;
    }

    @include respond-to(large) {
      display: block;
      margin-bottom: 15px;

      p {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }

  .author {
    font-size: 13px;
    font-weight: 600;
    font-family: $font-stack;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include respond-to(large) {
      margin-bottom: 15px;
    }
  }

  .read-more-box {
    margin: 7px 0 5px 0;

    .tertiary-cta {
      margin: 0;
      padding-bottom: 3px;
    }
  }

  .slick-dots {
    .slick-active > button {
      opacity: 1;
    }
    li > button {
      background-color: $button-primary-color;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    @include respond-to(medium) {
      position: absolute;
      bottom: 5px;
      left: 51.6%;
      margin-bottom: 0;
    }

    @include respond-to(large) {
      left: 51.3%;
    }

    @include respond-to(xlarge) {
      left: 51.25%;
    }
  }

  .share-box {
    position: relative;
    text-align: right;
    float: right;
    bottom: 70px;
    right: 10px;

    @include respond-to(medium) {
      bottom: 0;
      position: static;
    }

    .js-open-socialdrawer {
      @include respond-to(medium) {
        display: none;
      }
    }

    .share {
      // position: relative;
      margin-top: 10px;
      margin-bottom: 50px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s;

      ul {
        list-style-type: none;
        padding: 0;
        opacity: 1;

        li {
          display: inline-block;
        }
      }

      @include respond-to(medium) {
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 66px;
        right: 25px;
        overflow: visible;
      }

      @include respond-to(large) {
        ul {
          opacity: 0;
          transition: opacity 250ms;
          li {
            opacity: 1;
            transition: opacity 250ms;

            &:hover {
              opacity: 0.6;
            }
          }
        }

        .show-list-on-hover {
          opacity: 1;
        }
      }
    }

    .js-socialdrawer-opened {
      max-height: 50px;
      margin-bottom: 0;

      @include respond-to(medium) {
        max-height: 0;
        margin-bottom: 0;
      }
    }
  }
}

/*
  More Homepage Hero component
*/

.home-hero {
  position: relative;

  .homepage-hero-slide {
    margin: 0;
    position: relative;

    @include respond-to(large) {
      margin: 0 25px;
    }
  }

  .share-box {
    position: relative;
    text-align: right;
    float: right;
    bottom: 70px;
    right: 10px;

    @include respond-to(medium) {
      bottom: 50px;
      position: static;
    }

    .js-open-socialdrawer {
      @include respond-to(medium) {
        display: none;
      }
    }

    .share {
      // position: relative;
      margin-top: 10px;
      margin-bottom: 50px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s;

      ul {
        list-style-type: none;
        padding: 0;
        opacity: 1;

        li {
          display: inline-block;
        }
      }

      @include respond-to(medium) {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 30px;
        right: 25px;
        overflow: visible;
      }

      @include respond-to(large) {
        right: 0;
        ul {
          opacity: 0;
          transition: opacity 250ms;
          li {
            opacity: 1;
            transition: opacity 250ms;

            &:hover {
              opacity: 0.6;
            }
          }
        }

        .show-list-on-hover {
          opacity: 1;
        }
      }
    }

    .js-socialdrawer-opened {
      max-height: 50px;
      margin-bottom: 0;

      @include respond-to(medium) {
        max-height: 0;
        margin-bottom: 0;
      }
    }
  }
}
