/*
More Related Posts

Optional related posts section added to some More Article pages.

Markup:
<!-- more-related-posts -->
<div class="more-related-posts">
  <div class="row container">
    <div class="small-11 small-centered large-10 large-offset-1 columns">
      <h3 class="section-title text-left">
        Related Posts
      </h3>
      <div class="related small-up-2 medium-up-5">
        <div class="column column-block">
          <div class="image-container">
            <a href="">
              <img src="images/post-cold-clubbing.jpg" alt="" />
            </a>
            <div class="image-title">
              Cold Clubbing
            </div>
            <div class="more-link tertiary-cta">
              <a href="">Read More</a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="image-container">
            <a href="">
              <img src="images/post-winter-wonderland.jpg" alt="" />
            </a>
            <div class="image-title">
              Winter Wonderland
            </div>
            <div class="more-link tertiary-cta">
              <a href="">Read More</a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="image-container">
            <a href="">
              <img src="images/post-timeshares.jpg" alt="" />
            </a>
            <div class="image-title">
              How Do Timeshares Really Work?
            </div>
            <div class="more-link tertiary-cta">
              <a href="">Read More</a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="image-container">
            <a href="">
              <img src="images/post-protect-yourself.jpg" alt="" />
            </a>
            <div class="image-title">
              Protect Your Homes – and Yourself – Before You Travel
            </div>
            <div class="more-link tertiary-cta">
              <a href="">Read More</a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="image-container">
            <a href="">
              <img src="images/post-ski-resort.jpg" alt="" />
            </a>
            <div class="image-title">
              5 Things to Do at Canadian Ski Resorts (That Aren’t Skiing)
            </div>
            <div class="more-link tertiary-cta">
              <a href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

Styleguide 4.1
*/

.more-related-posts {
  margin: 10px 0 40px 0;

  .section-title {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    font-size: 18px;

    &:after {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      height: 2px;
      width: 10px;
      background-color: $darkest-color;
    }
  }

  .container {
    @include respond-to(medium) {
      position: relative;
    }

    .body-copy-bold {
      text-transform: uppercase;
    }
  }

  .related {
    border-top: $more-underline;
    padding: 20px 0 0 0;

    .column-block {
      margin-bottom: 0;
      @include respond-to(medium) {
        padding: 0 10px 0 10px;
      }
    }

    .image-container {
      position: relative;
      padding-bottom: 20px;
      height: 100%;

      @include respond-to(medium) {
        position: static;
      }

      .image-title {
        margin-top: 10px;
        margin-bottom: 30px;
        line-height: 18px;
      }

      .more-link {
        position: absolute;
        bottom: 0;
      }

      .tertiary-cta {
        letter-spacing: 0;
      }
    }
  }
}
