/*
More Article Tags

Template for optional Tags section of the More Articles page.

Markup:
<div class="article-tags-section">
  <div class="row">
    <div class="small-11 small-centered large-10 large-offset-1 columns">
      <div class="small-12 medium-6 columns container">
        <h3 class="section-title text-left">
          Article Tags
        </h3>
        <div class="tags body-copy">
          <a>Canada 150</a>,
          <a>Cross-country</a>,
          <a>Provinces</a>,
          <a>Travel</a>
        </div>
      </div>
      <div class="small-12 medium-6 columns container">
        <button class="button">
          Find all relevant stories
        </button>
      </div>
    </div>
  </div>
</div>

Styleguide 4.1
 */

.article-tags-section {
  margin: 55px 0 30px 0;

  .section-title {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    font-size: 18px;

    &:after {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      height: 2px;
      width: 10px;
      background-color: $darkest-color;
    }
  }

  .container {
    padding: 0;

    .tags {
      border-top: 1px solid $more-article-gray;
      padding-top: 20px;

      a {
        &:hover {
          color: $button-primary-color;
          transition: color 0.25s;
        }

        &:active {
          color: $button-primary-color;
          transition: color 0.25s;
        }
      }
    }
  }

  button {
    margin-top: 30px;
    width: 100%;
    padding: 12px;

    @include respond-to(medium) {
      margin-top: 35px;
      margin-left: 35px;
      width: 90%;
    }
  }
}
