
.more-image-with-caption {
  padding: 10px 0 10px 0;

  .image-with-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .image-caption {
      color: $image-caption-gray;
      align-self: flex-start;
      text-transform: uppercase;

      @include respond-to(medium) {
        align-self: center;
        text-align: center;
      }
    }
  }
}
