// more-tips
// extended styling to work for Q & A section too
.more-tips, .question-answer {
  margin-top: 35px;
}

.list-row {
  padding-top: 35px;

  .list-body {
    padding-bottom: 35px;
    border-bottom: $more-underline;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    .list-body {
      border-bottom: none;
    }
  }

  .tips-list-column {
    height: 40px;

    img {
      max-width: 50px;
      height: 25px;
    }
  }

  .questions-list-column {
    height: 45px;
    margin-top: 5px;

    img {
      max-height: 45px;
      max-width: 45px;
    }
  }

  .list-title {
    margin-bottom: 18px;

    .tips-questions-icon {
      float: left;
      width: 40px;
      
      img{
        width:50px;
      }
    }

    .title {
      padding-left: 55px;
      margin-bottom: 0;

      @include respond-to(medium) {
        position: static;
        padding-left: 0;
      }
    }

    .questions-title {
      @extend .title;
      text-transform: uppercase;
    }
  }
}
