// defining animations

// zoomIn animation
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// fadeIn animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// fadeOut animation
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// fadeInDown animation
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

// slideUp animation
@keyframes slideUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
  to {
    transform: none;
  }
}

// slideInLeft animation
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// slideOutRight animation
@keyframes slideOutRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    // visibility: hidden;
  }
}

.fade-in {
  animation: fadeIn 0.6s;
}

.fade-out {
  animation: fadeOut 0.65s;
}

.fade-in-down {
  animation: fadeInDown 0.5s;
}

.zoom-in {
  animation: zoomIn 1s;
  animation-fill-mode: both;
}

.slide-up {
  animation: slideUp 1s;
  animation-fill-mode: both;
}

.slide-in-left {
  animation-delay: 0.2s;
  animation: slideInLeft 0.3s;
  // animation-fill-mode: both;
}

.slide-out-right {
  animation-delay: 0.3s;
  animation: slideOutRight 0.3s;
  animation-fill-mode: both;
}

.quiz-figure {
  margin-bottom: 40px;

  img {
    width: 200px;
    height: 200px;
  }

  figcaption {
    text-align: center;
    margin-left: 0.5rem;
		margin-right: 0.5rem;
		margin-top: 45px;
  }
}

// quiz start directive/template
.quiz-start-text {
  margin: 25px 0 45px 0;

  @include respond-to(large) {
    margin: 30px 0 50px 0;
  }
}


// quiz progress directive/template
.quiz-progress {
  margin-bottom: 45px;

  .digit {
    transition: color 0.3s;
    display: inline-block;
    color: $steps-grey;
    margin: 0 20px;
  }

  // confirm styling - creating new text style?
  .current {
    font-weight: bold;
    color: $brand-color;
  }

  .answered {
    color: $brand-color;
  }
}

// quiz answers directive/template
.quiz-answers {

  .answer {
    margin-bottom: 20px;

    @include respond-to(medium) {
      margin-bottom: 0;
    }

    .quiz-choice {
      display: flex;
      flex-direction: row;
      position: relative;

      .ring {
        transition: all 0.2s;
        width: 40px;
        height: 40px;
        transform-origin: center;
        border-radius: 50%;
        border: 3px solid $button-primary-color;
      }

      .choice-label {
        color: $steps-grey;
        // transform: translateY(25%);
        // margin-left: 20px;
        left: 20%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
