/*Global*/

/*video.scss*/
.split-bg{
	height:100%;
	background: url(../images/tiled-weathered-pattern.jpg);
    min-height: 100px;
    position: relative;
    margin-bottom: calc(50% - 90px);

    @include respond-to(medium){
    	min-height: 150px;
    	margin-bottom: 150px;
    }

    @include respond-to(large){
    	min-height: 225px;
    	margin-bottom: 225px;
    }

    .video-container{
    	position: absolute;
    	padding: 0 30px;

    	@include respond-to(medium){
    		padding: 0 100px;
    	}

    	@include respond-to(large){
    		padding: 0;
    	}
    }
}

.split-bg-description{
	max-width: 768px;
    margin: 0 auto;
    text-align: right;

    p{
    	text-decoration: underline;
    }
}

.ig-video-group{
	margin-top: 0;
}

/*Module.scss*/
.reveal.retirement.large{

	.modal-header{
		max-width: 100%;
	}

	.modal-content{
		max-width: 100%;
		display: flex;
    	justify-content: center;
	}

	.small-figure{
		width: auto;
	}

	.wide-figure-tertiary-cta{
		display: flex;
    	justify-content: flex-start;

    	.columns{
    		width: auto;
    	}
	}

	.slick-prev{
		left: 40px;
	}

	.slick-next{
		right: 40px;
	}
}



.two-column-cta{
	display: flex;
	flex-flow: column wrap;
}
.records-list{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	.record-item{
		margin: 15px;
		width: 30%;
	}
}

article{
	.expand-article-toggle{
		overflow: visible;
	    position: relative;
	    clear: both;
	    // top: 7.5rem;
	    transition: top 0.5s ease 0s;

	    .mask{
	    	transition: opacity 0.5s ease 0s;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    height: 20rem;
		    width: 100%;
		    position: absolute;
		    top: -20rem;
    		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
	    }

	    .row{
	    	transition: height 0.5s ease 0s;
		    background-color: #fff;
		    overflow: hidden;
		    max-width: none;
		    overflow: hidden;
		    height: 0;

		    .columns{
		    	border-top: 1px solid #aaa;
    			margin-top: 1.5rem;
		    }

		    h3{
			    margin: 0;
			    cursor: pointer;
			    transition: color 0.3s ease 0s;
			    padding: 10px 10px 20px 20px;
			    border: 1px solid #aaa;
			    border-top: 1px solid #fff;
			    width: 300px;
			    margin: -1px auto 0 auto;
			    border-radius: 0 0 5px 5px;

		    }
	    }
	}
}

article{
	&.initial-view{
		.expand-article-toggle{
			// top: -5rem;

			.mask{
				opacity: 1;
			}

			.row{
				height: auto;
				padding: 0 50px 150px 50px;
			}
		}
	}
}

article{
	.expanded-article-content{
		// overflow: hidden;
	    // max-height: 0;
	    transition: max-height 0.5s ease 0s, padding-top 0.5s ease 0s;
	    padding-top: 0;
	    // display: none;
	}
}

.section-retirement-tips-intro{
	// @include respond-to(medium){
		padding: 40px;
	// }
}

.section-retirement-tips{
	display: flex;
	flex-flow: row wrap;
}

.section-retirement-tip{
	padding: 0 50px;
}


.section.records{
	.record-item {
		position: relative;
		cursor: pointer;

		img{
			opacity: 1;
		}
		.overlay{
			// opacity: 0;
			display: none;
			transition: .5s ease;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		&:hover{
			.overlay{
				transition: .5s ease;
    			display: block;
    			background: rgba(0, 0, 0, 0.3);
    			display: flex;
			    justify-content: center;
			    align-items: center;

			    .button{
			    	margin-bottom: 0;
			    }
			}
		}
	}
}

