.ig-video-group {
  margin-top: 50px;

  .video-container {
    width: 100%;
    max-width: 768px;
    position: relative;
    margin: 20px auto;
    left: 0;
    right: 0;
    top: 0
  }

  .video-overlay {
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 100;
    background-size: 100%;
    background-image: url('../images/video-overlay.jpg');
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in;
  }

  .video-overlay.hidden {
    opacity: 0;
  }

  .video-overlay:before {
    position: absolute;
    content: "";
    z-index: 1001;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    background-size: 100%;
    background-image: url('../images/spinner.svg');
    background-repeat: no-repeat;
  }

  .video-section {
    background-color: #faf7e6;
    position: relative;
    padding-bottom: 10%
  }

  .video-container-responsive {
    margin: auto;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    z-index: 1
  }

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .video-title {

  }

}