/*
Videos

Documentation to follow

Markup:
<div class="row ig-video-group" data-account="3906942861001" data-player="BJNX9uitx">
        <div class="medium-6 columns">
            <!-- Similar to an Angular Directive, this code will be replaced by JavaScript. -->
            <div class="ig-video-js"
                 data-id="4219153214001"
                 data-overlay="images/video-overlay.jpg"
                 data-controls="true"
                 data-autoplay="false"
                 data-preload="none"
                 data-title="Business Owner: Pierre Senecal"
                 data-transcript="http://www.investorsgroup.com/transcript-sample.pdf"
                 data-description="As a former business owner, Pierre recognized the importance of the planning
                 process, and delivering a total solution to clients. This is what led him to Investors Group."
                 data-cta-template="<p>There's never been a better time to join the growing team of advisors at Investors Group. What are you waiting for?</p><button class='button cta-button'>Sign me up</button>">
            </div>
        </div>
        <div class="medium-6 columns">
            <!-- Similar to an Angular Directive, this code will be replaced by JavaScript -->
            <div class="ig-video-js"
                 data-id="4193078404001"
                 data-overlay="images/video-overlay.jpg"
                 data-controls="true"
                 data-autoplay="false"
                 data-preload="none"
                 data-title="Banker: Sue Neal"
                 data-description="Sue Neal transitioned from a career in banking where she lived according to
                her paycheque, to a career where she designed her own."
                 data-cta-template="<p>There's never been a better time to join the growing team of advisors at Investors Group. What are you waiting for?</p><button class='button cta-button'>Sign me up</button>">
            </div>
        </div>
    </div>

Styleguide 3.6
*/

.ig-video-group {
  margin-top: 50px;

  .video-container {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;

    &.complete {
      .video-cta {
        transform: translate(900px, 0);
      }
    }
  }

  .video-cta {
    left: -900px;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ededed;
    z-index: 10001;
    padding: 20px 20px;
    border: 10px solid #305A7B;
    transition: transform 0.4s ease-in;

    button.cta-button {
      display: block;
      margin: 15px auto;
    }

    * {
      text-align: center;
    }

    @media (max-width: 640px) {
      p {
        font-size: 3.5vw;
      }
    }

    @media (min-width: 641px) and (max-width: 1023px) {
      p {
        font-size: 2vw;
      }
    }

    @media (min-width: 1024px) {
      p {
        font-size: 16px;
      }
    }
  }

  .video-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 100;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s opacity ease;
  }

  .vjs-big-play-button {
    z-index: 1001;
  }

  .vjs-play-progress {
    background: #0ed59a !important;
  }

  .vjs-volume-level {
    background: #0ed59a !important;
  }

  .vjs-big-play-button {
    &:focus {
      background: #0ed59a !important;
    }
    &:hover {
      background: #0ed59a !important;
    }
  }

  .bc-player-BJNX9uitx_default:hover .vjs-big-play-button {
    background: #0ed59a !important
  }

  .video-section {
    background-color: #faf7e6;
    position: relative;
    padding-bottom: 10%
  }

  .video-container-responsive {
    margin: auto;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    z-index: 1
  }

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .video-title {

  }

  .video-transcript {
    display: block;
    text-align: right;
    margin-top: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  // AEM placeholders

  .video-container.undefined {
    display: none;
  }

}

.mediaHeroVideo {
  .cq-placeholder {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 13px;
    color: #bbb;
  }
}

.ig-video-group .video-transcript {
  &:hover {
    text-decoration: none;
  }

  a {
    font-size: 18px;
    font-family: $font-stack;
    border-bottom: 1px solid $brand-color;
  }
}
