.ig-video-group {
  margin-top: 50px;

  .video-container {
    width: 100%;
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;

    &.complete {
      .video-cta {
        transform: translate(600px, 0);
      }
    }
  }

  .video-cta {
    left: -600px;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ededed;
    z-index: 10001;
    padding: 20px 20px;
    border: 10px solid #305A7B;
    transition: transform 0.4s ease-in;

    button.cta-button {
      display: block;
      margin: 15px auto;
    }

    * {
      text-align: center;
    }

    @media (max-width: 640px) {
      p {
        font-size: 3.5vw;
      }
    }

    @media (min-width: 641px) and (max-width: 1023px) {
      p {
        font-size: 2vw;
      }
    }

    @media (min-width: 1024px){
      p {
        font-size: 16px;
      }
    }
  }

  .video-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 100;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s opacity ease;
  }

  .vjs-big-play-button {
    z-index: 1001;
  }
  .vjs-play-progress {
    background: #0ed59a !important;
  }

  .vjs-volume-level {
    background: #0ed59a !important;
  }

  .vjs-big-play-button {
    &:focus {
      background: #0ed59a !important;
    }
    &:hover {
      background: #0ed59a !important;
    }
  }

  .bc-player-BJNX9uitx_default:hover .vjs-big-play-button {
    background: #0ed59a !important
  }

  .video-section {
    background-color: #faf7e6;
    position: relative;
    padding-bottom: 10%
  }

  .video-container-responsive {
    margin: auto;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    z-index: 1
  }

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .video-title {

  }

  .video-transcript {
    display: block;
    text-align: right;
    margin-top: 5px;
    &:hover {
      text-decoration: underline;
    }
  }

}

.ig-video-group .video-transcript {
  &:hover {
    text-decoration: none;
  }

  a {
    font-size: 18px;
    font-family: $font-stack;
    border-bottom: 1px solid $brand-color;
  }
}