/*
Footer

The footer of the site

Markup:
 <footer class="site-footer" role="contentinfo">
  <div class="row">
    <div class="columns">
      <a class="float-right" href="#">Back to top</a>
    </div>
  </div> 
  <hr />
  <div class="row">
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium-vertical">
        <li>
          <a href="#">Company</a>
          <ul class="menu vertical">
            <li><a href="#">Who we are</a></li>
            <li><a href="#">Media room</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium-vertical">
        <li>
          <a href="#">Financial advice</a>
          <ul class="menu vertical">
            <li><a href="#">Products</a></li>
            <li><a href="#">How Can We Help</a></li>
            <li><a href="#">Value Of The Plan</a></li>
            <li><a href="#">More - Advice & Stories</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <ul class="menu vertical" data-responsive-menu="accordion medium-unbind">
        <li>
          <a href="#">Resources</a>
          <ul class="menu vertical">
            <li><a href="#">Client Account Access</a></li>
            <li><a href="#">Solutions Banking Access</a></li>
            <li><a href="#">Mutual Funds</a></li>
            <li><a href="#">Mortgage Rates</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns"></div>
    <div class="small-3 columns"></div>
    <div class="small-3 columns"></div>
    <div class="small-3 columns"></div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>© 2016 Investors Group Inc. All rights Reserved</p>
    </div>
    <div class="small 12 columns">
    </div>
  </div>  
</footer>

Styleguide 3.2
*/

.site-footer {
	background: $brand-color;
	color: $lightest-color;

	a {
		color: $lightest-color;
	}
}