/*
Header

This is the site wide navigation.

Markup:
 <header role="banner">
	<a id="skip-navigation" class="show-on-focus" href="#content">Skip Navigation</a>
	<div class="top-bar">
		<div class="top-bar-title">
			<strong>Investors Group</strong>
			<span class="float-right" data-responsive-toggle="main-navigation" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
		</div>
		<div id="main-navigation" class="top-bar-right">
			<nav role="navigation">
				<ul class="dropdown menu" data-dropdown-menu>
					<li><a href="#">Services</a>
						<ul class="menu vertical">
							<li><a href="/en/opportunities/investment">Investments</a></li>
							<li><a href="/en/opportunities/retirement">Retirement</a></li>
							<li><a href="/en/opportunities/mortgage">Mortgages</a></li>
							<li><a href="/en/opportunities/estate-planning">Estate Planning</a></li>
							<li><a href="/en/opportunities/tax-planning">Tax Planning</a></li>
							<li><a href="/en/opportunities/insurance">Insurance</a></li>
						</ul>
					</li>
					<li><a href="#">Advice & stories</a></li>
					<li><a href="#">Find an Advisor</a></li>
				</ul>
			</nav>
			<div class="top-bar aux-nav">
				<nav class="top-bar-right" role="navigation">
					<ul class="dropdown menu" data-dropdown-menu>
						<li><a href="#">Login</a>
							<ul class="menu vertical">
								<li><a href="/en/opportunities/investment">Client Login</a></li>
								<li><a href="/en/opportunities/retirement">Solutions Banking &trade;</a></li>
							</ul>
						</li>
						<li><a href="#">Client Support</a></li>
						<li><a href="#">Francais</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
	</div>
</header>

Styleguide 3.1
*/

.aux-nav {
	position: absolute;
	top: 0;
	left: 0;
	righht: 0;
}