// Breakpoints
$breakpoints: (
  small: 375px,
  medium: 480px,
  large: 768px,
  xlarge: 1024px,
  xxlarge: 1280px,
);

// Typography
$brand-font: 'WhitneyBook';
$font-whitney-light: 'WhitneyLight';
$font-semibold: 'WhitneySemibold';

// Font Stacks
$font-stack: $brand-font, sans-serif;
$font-stack-light: $font-whitney-light, $font-stack;
$font-stack-semibold: $font-semibold, $font-stack;

// Neutrals Colors
$lightest-color: #FFF; // White
$lighter-grey: #f1f7f7;
$light-grey: #f3f4f5;
$grey: #DBDFE2; //
$dark-grey: #c1cbd0;
$darker-grey: #687a87;
$darkest-color: #282828; // Charcoal near Black

// Colors
$brand-color: #0D263C; // Brand Navy Blue
$primary-color: #7EC4B9; // Green
$secondary-color: #F1F7F7; // Light Blue
$highlight-color: #FbF7EB; // Beige
$alert-color: #d42f1a; //Red
$button-primary-color: #0ED59A; //Green

// Border Radius
$border-radius: 4px;

// Arrows
$arrow-size: 8px;
