//Buttons and Links

a {
	color: $color-information;
	text-decoration: none;

	&:hover, .focus{
		color: $color-information-dark-20;
		text-decoration: underline;
	}
	&:active{
		color: $color-information-dark-20;
	}
}

html [type="button"]{
	-webkit-appearance: inherit;
}

.button {
	padding: $base-spacing $base-spacing*2;
	min-width: 160px;
	text-align: center;
	border-radius: $border-radius;
	font-size: $font-size-base;
	line-height: 1em;
	border: 2px solid $color-grey;
	font-family: $font-stack;
	margin: 0;
	background: $color-grey;
	color: $color-lightest;

	&:hover, &:focus {
		text-decoration: none;
		background: $color-grey-dark-20;
		border-color: $color-grey-light-15;
	}
}