/*
Forms
*/
label {
  background-color: transparent;
  position: relative;
  font-family: $font-stack-semibold;
  font-size: $font-size-xmini;
  line-height: $font-line-xmini;
  color: $color-brand-primary;

  &.error {
    color: $color-alert;
  }
}

input, select, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  border-radius: 0;
  border: 1px solid $color-darkest;
  font-family: $font-stack;
  font-size: $font-size-mini;
}

select {
  height: auto;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2813, 38, 60%29'></polygon></svg>")
}