.ig-list {

  // Border classes for each list block
  &.border-left {
    border-left: 2px solid #ccc;
  }

  &.border-right {
    border-right: 2px solid #ccc;
  }

  &.border-bottom {
    border-bottom: 2px solid #ccc;
  }

  .ig-list__heading {
    margin-bottom: 0;
  }

  // Add these alignment classes via AEM dialog dropdown
  .ig-list__heading-group.align-left, .ig-list__ul.align-left  {
    text-align: left;
  }

  .ig-list__heading-group.align-right, .ig-list__ul.align-right  {
    text-align: right;
  }

  .ig-list__heading-group.align-center, .ig-list__ul.align-center  {
    text-align: center;
  }

  // Special subheading classes
  p.small {
    font-size: 15px;
  }

  p.legal {
    font-size: 15px;
    color: #999
  }

  // Borders on list items
  .ig-list__ul--border-style-1 li {
    border-top: none;
    border-bottom: none;
  }

  .ig-list__ul--border-style-2 li {
    border-top: 1px solid #ccc;

    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }

  .ig-list__ul--border-style-3 li {
    border-top: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }
  }

  .ig-list__ul--border-style-4 li {
    border-top: 1px solid #ccc;
    border-bottom: none;

    &:first-child {
      border-top: none !important;
    }
  }

  .ig-list__ul {
    margin: 0;
  }

  .ig-list__item, .ig-list__item p {
    font-size: 22px;
    letter-spacing: 1px;
  }

}
