// Typography

@include font-render("WhitneyBook", "../fonts/whitney-book-webfont", null, null, woff2 woff ttf);
@include font-render("WhitneySemibold", "../fonts/whitney-semibold-webfont", null, null, woff2 woff ttf);
@include font-render("WhitneyLight", "../fonts/whitney-light-webfont", null, null, woff2 woff ttf);

body, p, .large-body-copy .body-copy, li {
  font-family: $font-stack;
  font-size: 16px;
  font-size: 1rem;
  color: $darkest-color;
  line-height: 1.5em;
  margin-bottom: 2px;
}

strong, .body-copy-bold {
  font-family: $font-stack-semibold;
  font-size: 16px;
  font-size: 1rem;
}

small, .legal-copy {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.06rem;
  display: inline-block;
}

small strong, .legal-copy-bold {
  font-family: $font-stack-semibold;
}


// Superscript
sup {
  padding-left: 2px;
  font-size: 65%;
  top: -0.6em;
}

h1, .hero-title, .callout-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-family: $font-stack-light;
  line-height: 1.1em;
}

h2, .content-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: $font-stack;
  line-height: 1.4em;
  text-transform: inherit;
}

h3, .section-title {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42em;
  text-transform: lowercase;
}

h4, .sub-title {
	font-size: 18px;
	font-size: 1.125rem;
	font-family: $font-stack-sc-medium;
	line-height: 1.42em;
	text-transform: lowercase;
}


@include respond-to(medium) {}