// Typography

@include font-render("WhitneyBook", "../fonts/whitney-book-webfont", null, null, woff2 woff ttf);
@include font-render("WhitneySemibold", "../fonts/whitney-semibold-webfont", null, null, woff2 woff ttf);
@include font-render("WhitneyLight", "../fonts/whitney-light-webfont", null, null, woff2 woff ttf);

.type-lighten {
  font-family: $font-stack-light;
}

.type-base, body, p, li, h6 {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $font-line-base;
}
.type-xmini {
  font-size: $font-size-xmini;
  line-height: $font-line-xmini;
}
.type-mini, small, sup, sub {
  font-size: $font-size-mini;
  line-height: $font-line-mini;
}
.type-medium, h5 {
  font-size: $font-size-medium;
  line-height: $font-line-medium;
}
.type-medium-plus, h4 {
  font-size: $font-size-medium-plus;
  line-height: $font-line-medium-plus;
}
.type-large, h3 {
  font-size: $font-size-large;
  line-height: $font-line-large;
}
.type-xl, h2 {
  font-family: $font-stack-light;
  font-size: $font-size-xl;
  line-height: $font-line-xl;
}
.type-xxl, h1 {
  font-family: $font-stack-light;
  font-size: $font-size-xxl;
  line-height: $font-line-xxl;
}
.type-super {
  font-size: $font-size-super;
  line-height: $font-line-super;
}

@include respond-to(medium) {
  .type-xl, h2 {
    font-size: $font-size-xl * 1.333;
  }
  .type-xxl, h1 {
    font-size: $font-size-xxl * 1.5;
  }
  .type-super {
    font-size: $font-size-super * 1.5;
  }
}
@include respond-to(large) {
  .type-large, h3 {
    font-size: $font-size-large * 1.333;
  }
}
@include respond-to(xlarge) {
  .type-xl, h2 {
    font-size: $font-size-xl * 2;
  }
  .type-xxl, h1 {
    font-size: $font-size-xxl * 2.25;
  }
 .type-super {
    font-size: $font-size-super * 3;
  } 
}

// Backwards compatibility classes
.large-body-copy .body-copy { @extend .type-medium; }
.body-copy-bold, .legal-copy-bold { font-family: $font-stack-semibold; }
.legal-copy { @extend .type-mini; }
.hero-title, .callout-title { @extend .type-xxl; }
.content-title { @extend .type-xl; }
.section-title { @extend .type-large; }
.sub-title { @extend .type-medium-plus; }