<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IG Pattern Library</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/foundation-sites/dist/css/foundation.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style type="text/css">
      .pattern-content {
        padding: 30px 0;
        margin: 30px 0;
        border-top: 1px solid #eee;
      }
      .sample {
        position: relative;
      }
      .main-navigation .menu > li:nth-child(3) > a:after {display: none;}
    </style>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header role="banner">
      <a id="skip-navigation" class="show-on-focus button secondary" href="#main-content">Skip Navigation</a>
      <div class="row">
        <div class="columns">
          <div class="top-bar">
            <div class="top-bar-title">
              <div class="row">
                <div class="columns">
                  <a class="home-link" href="./index.html"><img src="images/logo-en-bw.svg" alt="" class="image-logo" /></a>
                  <span class="float-right" data-responsive-toggle="main-navigation" data-hide-for="large">
                    <button class="menu-icon dark" type="button" data-toggle><span class="show-for-sr">Menu</span></button>
                  </span>
                </div>
              </div>
            </div>
            <div id="main-navigation" class="top-bar-right main-navigation">
              <div class="main-navigation-wrapper">
                <nav role="navigation" class="primary-nav">
                  <ul class="menu vertical large-horizontal" data-responsive-menu="accordion large-dropdown" data-click-open="true" data-disable-hover="true">
                    <li><a href="./index.html">Getting Started</a></li>
                    {{#eachRoot}}
                      <li>
                        <a href="section-{{reference}}.html">{{header}}</a>
                      </li>
                    {{/eachRoot}}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="row">
      {{#if overview}}
      {{else}}
      <div class="medium-3 columns">
        <nav role="navigation">
          <ul class="vertical menu">
            {{#eachSection rootNumber}}
              {{#whenDepth 2}}
                <li><a href="#section-{{reference}}">{{header}}</a></li>
              {{/whenDepth}}
            {{/eachSection}}
          </ul>
        </nav>
      </div>
      {{/if}}

      <main role="main" id="content">
        {{#if overview}}
          <div class="medium-12 medium-centered columns">
            {{{overview}}}
          </div>
        {{else}}
          <div class="medium-9 columns">
            {{#eachSection rootNumber}}
              {{#whenDepth 1}}
                <section id="section-{{reference}}">
                  <h1>{{header}}</h1>
                  <p class="callout-body-copy">{{html description}}</p>
                </section>
                {{/whenDepth}}

                {{#whenDepth 2}}
                <article class="pattern-content" id="section-{{reference}}">
                  <header>
                    <h2>{{header}}</h2>
                    <p>{{html description}}</p>
                  </header>
                  <section>
                    <div class="sample panel">
                      {{html markup}}
                    </div>

                    {{#eachModifier}}
                    <div class="modifier">
                        <h3>{{name}}</h3>
                        <p>{{html description}}</p>

                        <div class="example">
                            {{modifierMarkup}}
                        </div>
                    </div>
                    {{/eachModifier}}

                    {{#if markup}}
                      <ul class="accordion" data-accordion role="tablist">
                       <li class="accordion-item" data-accordion-item>
                         <a href="#" class="accordion-title" >Code</a>
                         <div class="accordion-content" data-tab-content>
                            <pre><code class="lang-html">{{markup}}</code></pre>
                         </div>
                       </li>
                       <li class="accordion-item" data-accordion-item>
                         <a href="#" class="accordion-title" >Documentation</a>
                         <div class="accordion-content" data-tab-content>

                         </div>
                       </li>
                      </ul>
                    {{/if}}
                  </section>
                </article>
                {{/whenDepth}}

            {{/eachSection}}
          </div>
        {{/if}}
      </main>
    </div>

    <footer class="site-footer" role="contentinfo">
      <div class="row footer-back-to-top-button">
        <div class="columns">
          <a class="float-right" href="#top">top</a>
        </div>
      </div> 
      <div class="row footer-navigation">
        <ul class="menu vertical accordion" data-responsive-menu="accordion medium" data-accordion="" data-allow-all-closed="true">
            <li class="large-4 columns accordion-item" data-accordion-item="">
              <a class="accordion-title hide-for-large" href="#">Resources</a>
              <ul class="menu vertical accordion-content accordion-submenu" data-tab-content="">
                <li class="accordion-title hide-for-small">Resources</li>
                <li><a class="submenu-link" href="/en/who-we-are">Behind the Design System</a></li>
                <li><a class="submenu-link" href="/en/media-room">Change Log</a></li>
                <li><a class="submenu-link" href="/en/careers">Github</a></li>
              </ul>
            </li>
            <li class="large-4 columns end accordion-item" data-accordion-item="">
              <a class="accordion-title hide-for-large" href="#">Help</a>
              <ul class="menu vertical accordion-content accordion-submenu" data-tab-content="">
                <li class="accordion-title hide-for-small">Help</li>
                <li><a class="submenu-link" href="/en/products">Faq</a></li>
                <li><a class="submenu-link" href="/en/how-can-we-help">Glossary</a></li>
                <li><a class="submenu-link" href="https://docs.google.com/forms/d/e/1FAIpQLScr6Ts51wsAj9u8Tq92s-uGvkCPjNqA7ZFyT8gyDOwHVeWJ9Q/viewform">Give Feedback</a></li>
                </ul>
            </li>
        </ul>
      </div>
      <div class="row footer-copyright">
        <div class="columns footer-copyright-border-top">
          <div class="row">
            <div class="small-12 medium-12 large-3 columns">
              <ul class="menu">
                <li>© 2017 Investors Group Inc. All rights Reserved</li>
              </ul>
            </div>
            <div class="small-12 medium-12 large-9 columns">
              <ul class="menu horizontal">
                <li><a href="/en/legal">Legal</a></li>
                <li><a href="/en/legal/use">Terms Of Use</a></li>
                <li><a href="/en/legal/privacy-and-personal-information">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/bower_components/jquery-validation/dist/additional-methods.js"></script>
    <script src="/bower_components/what-input/dist/what-input.js"></script>
    <script src="/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="/bower_components/eventemitter3/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>