<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IG Pattern Library</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style type="text/css">
      .pattern-content {
        padding: 30px 0;
        margin: 30px 0;
        border-bottom: 1px solid #eee;
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="top-bar" id="Main-nav">
      <div class="row">
        <nav class="large-12 columns">
          <ul class="menu top-bar-left">
            <li class="topbar-title"><img src="/images/logo.svg" alt="" style="width: 220px;" /></li>
          </ul>
          <ul class="menu top-bar-right">
            <li><a href="./index.html">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
          <ul class="vertical menu">
            <li><a href="./index.html">Getting Started</a></li>
            {{#eachRoot}}
              <li>
                <a href="section-{{reference}}.html">{{header}}</a>
                <ul class="vertical menu">
                  {{#eachSection reference}}
                    <li><a href="#{{reference}}">{{header}}</a></li>
                  {{/eachSection}}
                </ul>
              </li>
            {{/eachRoot}}
          </ul>
        </div>

        <main role="main" id="content">
          <div class="medium-9 columns">
            {{#if overview}}
              {{{overview}}}
            {{else}}
              {{#eachSection rootNumber}}
                <section class="pattern-content" id="section-{{reference}}">
                  <h2>{{header}}</h2>
                  <p>{{html description}}</p>            
                  <div class="sample panel">
                    {{html markup}}
                  </div>
                  {{#eachModifier}}
                    <div class="modifier">
                        <h3>{{name}}</h3>
                        <p>{{html description}}</p>

                        <div class="example">
                            {{modifierMarkup}}
                        </div>
                    </div>
                  {{/eachModifier}}
                  {{#if markup}}
                    <ul class="accordion" data-accordion role="tablist">
                     <li class="accordion-item" data-accordion-item>
                       <a href="#" class="accordion-title" >Code</a>
                       <div class="accordion-content" data-tab-content>
                          <pre><code class="lang-html">{{markup}}</code></pre>
                       </div>
                     </li>
                     <li class="accordion-item" data-accordion-item>
                       <a href="#" class="accordion-title" >Documentation</a>
                       <div class="accordion-content" data-tab-content>

                       </div>
                     </li>
                  </ul>
                {{/if}}
              </section>
            {{/eachSection}}
          {{/if}}
        </div>
      </main>
    </div>

    <footer class="secondary" role="contentinfo">
      <div class="row">
        <div class="large-12 columns">
          <p><small>© Copyright 2016 Investors Group, All Rights Reserved | CONFIDENTIAL - Must not be duplicated, shared or printed without approval.</small></p>
          <p>If you have a term you would like defined for the glossary please add it in the <a href="https://docs.google.com/forms/d/e/1FAIpQLScr6Ts51wsAj9u8Tq92s-uGvkCPjNqA7ZFyT8gyDOwHVeWJ9Q/viewform">Glossary Terms Form</a></p>
        </div>
      </div>
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/foundation-sites/dist/foundation.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>