<div class="question-holder">
    <div class="question">
        <div class="cell">
            <div class="animated  question-icon" 
ng-class="{ 
'zoomOut': leaveAnimation && !enterAnimation, 
'zoomIn': enterAnimation && !leaveAnimation 
}"
                 style="background-image: url('{{question.image}}');">
            </div>
            <div class="question-overflow">
                <h2 style="overflow: hidden;" class="animated" 
ng-class="{
'fadeOutDown': leaveAnimation && !enterAnimation, 
'fadeInDown': enterAnimation && !leaveAnimation 
}">
                    {{question.question}}
                </h2>
            </div>
        </div>
    </div>
</div>