

<div class="start-modal animated fadeIn">
    <div class="start-content">
        <div>
            <div>

                <div class="icon animated zoomIn" style="background-image: url('../images/quiz/quiz-start@2x.jpg');"></div>
                
                <div class="content" style="overflow: hidden;">
                    <h2 class="content-heading animated slideInUp">
                        {{copy.header}}</h2>
                    <p class="animated slideInUp">{{copy.text}}</p>
                </div>

                <div class="start-footer animated _fadeIn" style="width: 200px; margin:auto;">
                    <a ui-sref="quiz" class="outline-btn">
                        {{copy.start}}
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>