<!-- not sure if this requires a contianing DOM element -->
<div class="quiz-start text-center medium-9 medium-centered columns">
  <figure class="quiz-figure">
    <img class="zoom-in image-circle" src="../images/quiz/quiz-start@2x.jpg" alt="quiz-start" />
    <figcaption class="slide-up">
      <h1 class="callout-title text-center">
        {{copy.header}}
      </h1>
    </figcaption>
  </figure>
  <div>
    <p class="slide-up quiz-start-text callout-body-copy">
      {{copy.text}}
    </p>
    <button class="button slide-up" ui-sref="quiz">
      {{copy.start}}
    </button>
  </div>
</div>
