<!-- not sure if this requires a contianing DOM element -->
<div class="quiz-start">
  <figure class="medium-figure">
    <img class="fade-in image-circle" src="../images/quiz/quiz-start@2x.jpg" alt="" />
    <figcaption class="slide-up">
      <h1 class="callout-title text-center">
        {{copy.header}}
      </h1>
    </figcaption>
  </figure>
  <div class="slide-up">
    <p class="quiz-start-text callout-body-copy">
      {{copy.text}}
    </p>
    <button class="button" ui-sref="quiz">
      {{copy.start}}
    </button>
  </div>
</div>
